
.v-application{
    font-family: $base-font-family !important;
  
    h1, h2, h3, h4, h5, h6{
      font-family: $header-font-family !important;
      line-height: 125% !important;
    }
    
    
    body, p{
      font-family: $base-font-family !important;
    }
    
    a{
      color: $darker-green !important;
    }

    .v-btn.secondary{
      color: #FFFFFF !important;
    }

    .title, .display-1, .display-2, .display-3, .display-4
    .subtitle-1, .subtitle-2
    {
      font-family: $header-font-family !important;
  
    }
  
    .v-expansion-panel-header{
      font-weight: 500; 
      font-family: $header-font-family !important;
      font-size: 1.1rem;
    }
    .v-expansion-panel-content{
        .v-expansion-panel-header{
            font-size: 0.9rem;
            font-weight:normal;
            line-height: 140%;
        }  
    }
    .v-data-table th{
      font-size: 1rem;
      font-family: $header-font-family !important;
    }
    .v-card{
      overflow-wrap: normal;
    }
    .v-bottom-sheet--inset{
      max-width: 50% !important;
    }
  }