html{
  @media screen and (max-width: 500px) {
    font-size: 13px !important;
  }
}


.v-application{
    font-family: $base-font-family !important;
    background-repeat: repeat !important;
    background-color: #2771ad !important;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%233d82b1' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E") !important;  

    h1, h2, h3, h4, h5, h6{
      font-family: $header-font-family !important;
      line-height: 125% !important;
    }
    
    
    body, p{
      font-family: $base-font-family !important;
    }
    
    a{
      color: $darker-green !important;
    }

    .v-btn.secondary{
      color: #FFFFFF !important;
    }

    .title, .display-1, .display-2, .display-3, .display-4
    .subtitle-1, .subtitle-2
    {
      font-family: $header-font-family !important;
  
    }
  
    .v-expansion-panel-header{
      font-weight: 500; 
      font-family: $header-font-family !important;
      font-size: 1.1rem;
      line-height: 140%;
    }
    .v-expansion-panel-content{
        .v-expansion-panel-header{
            font-size: 0.9rem;
            font-weight:normal;
            line-height: 140%;
        }  
    }
    .v-data-table th{
      font-size: 1rem;
      font-family: $header-font-family !important;
    }
    .v-card{
      overflow-wrap: normal;
    }
    .theme--light.v-card>.v-card__text{
      color: rgba(0, 0, 0, 0.87) !important;
    }
    .v-bottom-sheet--inset{
      @media screen and (min-width: 1000px) {
        max-width: 50% !important;
      }

    }

    .v-slider__track-container{
      height: 4px !important;
    }

    .v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close){
      z-index: 120 !important;
    }
    
  }