%button {
  -webkit-font-smoothing: antialiased;
  background-color: $base-button-color;
  border-radius: 500px;
  color: white;
  display: inline-block;
  font-size: $base-font-size;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: $base-button-padding;
  text-decoration: none;
  text-transform: uppercase;
  @include transition-property(background-color);
	@include transition-duration(0.25s);
	@include transition-timing-function(ease-out);
	@include transition-delay(0s);

  &:hover {
    background-color: $hover-button-color;
    color: white;
  }
}