html {
  @media screen and (max-width: 500px) {
    font-size: 13px !important;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

.v-application {
  font-family: $base-font-family !important;
  background-repeat: repeat !important;
  background-color: #2c74ad !important;
  //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23266aa4' fill-opacity='0.50' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E") !important;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%233d82b1' fill-opacity='0.24' fill-rule='evenodd'/%3E%3C/svg%3E") !important;

  .v-btn--is-elevated {
    //box-shadow: none !important;
  }
  .v-pagination {
    justify-content: flex-end;
  }

  .v-pagination__item {
    //box-shadow: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family !important;
    line-height: 125% !important;
  }
  header #nav-main-navigation {
    font-family: $header-font-family !important;
    a {
      font-size: 16px !important;
      text-transform: none !important;
    }
  }
  body,
  p {
    font-family: $base-font-family !important;
  }

  a {
    color: $darker-green !important;
  }

  @media (min-width: 1904px) {
    .container {
      max-width: 1300px;
    }
  }
  .v-btn.secondary:not(.share):not(.fos-button):not(.filter-button):not(.component-toggle-button):not(.searchFab) {
    letter-spacing: normal;
    height: 50px !important;
    border-radius: 16px !important;
    //border:2px solid white !important;
    //border-color:#fff !important;
    color: #fff !important;
    padding: 0 10%;
  }

  .v-btn.transition-button {
    letter-spacing: normal;
    height: 50px !important;
    border-radius: 16px !important;
    //border:2px solid white !important;
    //border-color:#fff !important;
    color: #000 !important;
    padding: 0 10%;
  }

  .title,
  .display-1,
  .display-2,
  .display-3,
  .display-4 .subtitle-1,
  .subtitle-2 {
    font-family: $header-font-family !important;
  }

  .searchForTitle {
    font-weight: 600;
    font-family: "Montserrat", sans-serif !important;
  }

  .display-2 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  .display-3 {
    font-size: 3rem !important;
    line-height: 32px !important;
  }

  .v-expansion-panel-header {
    font-weight: 500;
    font-family: $header-font-family !important;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .v-expansion-panel-content {
    .v-expansion-panel-header {
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 140%;
    }
  }
  .v-data-table th {
    font-size: 1rem;
    font-family: $header-font-family !important;
  }
  .v-card {
    overflow-wrap: normal;
    //box-shadow: none !important;
  }
  .theme--light.v-card > .v-card__text {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-bottom-sheet--inset {
    @media screen and (min-width: 1000px) {
      max-width: 50% !important;
    }
  }

  .v-slider__track-container {
    height: 4px !important;
  }

  .v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close) {
    z-index: 120 !important;
  }

  .overline {
    font-family: $sans-serif !important;
    font-size: 12px !important;
    line-height: 160% !important;
    letter-spacing: normal !important;
  }

  #context-toggle {
    // No slider animations on context toggle
    .v-tabs-slider-wrapper {
      transition: none !important;
    }

    .v-tabs-bar {
      background-color: unset;
    }
  }

  .compare-drawer-fos-checkbox-label {
    .v-label {
      font-size: 30px;
    }
  }

  .mobile-navigation-item {
    .v-list-item__title {
      font-size: 1.4rem;
      color: black;
    }
  }

  .fos-limited-data {
    border-radius: unset;
  }

  footer {
    a {
      color: white !important;
    }
  }

  .nav-compare-icon {
    .v-badge__badge {
      color: #122e51 !important;
      font-weight: bold;
    }
  }

  .compare-select .v-input__slot {
    align-items: center !important;
    justify-items: center !important;
  }

  .v-input__slot {
    align-items: flex-start;
    justify-items: flex-start;
  }

  .dolflag-chip .v-chip__close {
    font-size: 32px !important;
    margin-right: 16px !important;
    margin-left: 16px !important;
  }

  .v-chip__close {
    color: $darker-green !important;
  }

  .green-link {
    color: $darker-green !important;
  }
}

@media print {
  .v-main {
    padding-top: 20px !important;
  }
}
