html {
  @media screen and (max-width: 500px) {
    font-size: 13px !important;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

.v-application {
  font-family: $base-font-family !important;
  background-repeat: repeat !important;
  background-color: #2c74ad !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 200 200'%3E%3Cpolygon fill='%23266aa4' fill-opacity='0.50' points='100 0 0 100 100 100 100 200 200 100 200 0'/%3E%3C/svg%3E") !important;

  .v-btn--is-elevated {
    box-shadow: none !important;
  }
  .v-pagination {
    justify-content: flex-end;
  }

  .v-pagination__item {
    box-shadow: none !important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family !important;
    line-height: 125% !important;
  }

  body,
  p {
    font-family: $base-font-family !important;
  }

  a {
    color: $darker-green !important;
  }

  @media (min-width: 1904px) {
    .container {
      max-width: 1300px;
    }
  }

  .v-btn.secondary {
    color: #ffffff !important;
  }

  .title,
  .display-1,
  .display-2,
  .display-3,
  .display-4 .subtitle-1,
  .subtitle-2 {
    font-family: $header-font-family !important;
  }

  .v-expansion-panel-header {
    font-weight: 500;
    font-family: $header-font-family !important;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .v-expansion-panel-content {
    .v-expansion-panel-header {
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 140%;
    }
  }
  .v-data-table th {
    font-size: 1rem;
    font-family: $header-font-family !important;
  }
  .v-card {
    overflow-wrap: normal;
    box-shadow: none !important;
    border-radius: 0 !important;
  }
  .theme--light.v-card > .v-card__text {
    color: rgba(0, 0, 0, 0.87) !important;
  }
  .v-bottom-sheet--inset {
    @media screen and (min-width: 1000px) {
      max-width: 50% !important;
    }
  }

  .v-slider__track-container {
    height: 4px !important;
  }

  .v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close) {
    z-index: 120 !important;
  }

  .overline {
    font-family: $sans-serif !important;
    font-size: 12px !important;
  }

  #context-toggle {
    // No slider animations on context toggle
    .v-tabs-slider-wrapper {
      transition: none !important;
    }

    .v-tabs-bar {
      background-color: unset;
    }
  }

  .compare-drawer-fos-checkbox-label {
    .v-label {
      font-size: 30px;
    }
  }

  .mobile-navigation-item {
    .v-list-item__title {
      font-size: 1.4rem;
      color: black;
    }
  }

  .fos-limited-data {
    border-radius: unset;
  }

  footer {
    a {
      color: white !important;
    }
  }

  .nav-compare-icon {
    .v-badge__badge {
      color: #122e51 !important;
      font-weight: bold;
    }
  }

  .checkbox-list .v-input__slot {
    align-items: start;
    justify-items: start;
  }
}
