html {
  @media screen and (max-width: 500px) {
    font-size: 13px !important;
  }
  body {
    overflow-x: hidden;
    width: 100%;
  }
}

.v-application {
  font-family: $base-font-family !important;
  background-color: $bg-gray !important;

  .v-pagination {
    justify-content: flex-end;
    @media screen and (max-width: 600px) {
      justify-content: space-between;
    }
    button {
      box-shadow: 0px 1px 1px #0000001a !important;
      border: 1px solid $bg-gray;
      height: auto;
      padding: 1px 4px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header-font-family !important;
    line-height: 125% !important;
  }
  header #nav-main-navigation {
    font-family: $header-font-family !important;
    a {
      font-size: 16px !important;
      text-transform: none !important;
    }
  }
  body,
  p {
    font-family: $base-font-family !important;
    max-width: 800px;
  }
  li {
    max-width: 800px;
  }
  a {
    color: $darker-green;
  }
  hr {
    border: 1px solid #dfe6f0;
    border-bottom-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  @media (min-width: 1904px) {
    .container {
      max-width: 1300px;
    }
  }

  .title,
  .display-1,
  .display-2,
  .display-3,
  .display-4 .subtitle-1,
  .subtitle-2 {
    font-family: $header-font-family !important;
  }
  .v-btn {
    letter-spacing: normal;
    text-transform: none;
    box-shadow: none;
  }

  .searchForTitle {
    font-weight: 600;
  }

  .display-2 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  .display-3 {
    font-size: 3rem !important;
    line-height: 32px !important;
  }

  .v-expansion-panel-header {
    font-weight: 500;
    font-family: $header-font-family !important;
    font-size: 1.1rem;
    line-height: 140%;
  }
  .v-expansion-panel-content {
    .v-expansion-panel-header {
      font-size: 0.9rem;
      font-weight: normal;
      line-height: 140%;
    }
  }
  .v-data-table th {
    font-size: 1rem;
    font-family: $header-font-family !important;
  }
  .v-card {
    overflow-wrap: normal;
    border: 1px solid #dfe6f0;
    border-radius: 6px;
    //box-shadow: none !important;
  }
  .v-bottom-sheet--inset {
    @media screen and (min-width: 1000px) {
      max-width: 50% !important;
    }
  }

  .v-slider__track-container {
    height: 4px !important;
  }

  .v-navigation-drawer--is-mobile:not(.v-navigation-drawer--close) {
    z-index: 120 !important;
  }

  .overline {
    font-family: $sans-serif !important;
    font-size: 12px !important;
    line-height: 160% !important;
    letter-spacing: normal !important;
  }
  .v-tabs-items {
    background-color: transparent;
    box-shadow: 0px 10px 16px #0000001a !important;
    border-radius: 0px 6px 6px 6px;
  }

  #context-toggle {
    // No slider animations on context toggle
    .v-tabs-slider-wrapper {
      transition: none !important;
    }

    .v-tabs-bar {
      background-color: unset;
    }
  }

  .compare-drawer-fos-checkbox-label {
    .v-label {
      font-size: 30px;
    }
  }

  .mobile-navigation-item {
    .v-list-item__title {
      font-size: 1.4rem;
      color: black;
    }
  }

  .fos-limited-data {
    border-radius: unset;
  }

  footer {
    a {
      color: white !important;
    }
  }

  .nav-compare-icon {
    .v-badge__badge {
      color: #122e51 !important;
      font-weight: bold;
    }
  }

  .compare-select .v-input__slot {
    align-items: center !important;
    justify-items: center !important;
  }

  .v-input__slot {
    align-items: flex-start;
    justify-items: flex-start;
  }

  .dolflag-chip .v-chip__close {
    font-size: 32px !important;
    margin-right: 16px !important;
    margin-left: 16px !important;
  }

  .v-chip__close {
    color: $darker-green !important;
  }

  .green-link {
    color: $darker-green !important;
  }
}

@media print {
  .v-main {
    padding-top: 20px !important;
  }
}

.toggle-sidebar.v-btn--outlined {
  border: 1px solid #d8dfe8 !important;
}

.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
    > .v-input__control
    > .v-input__slot
    fieldset {
    color: #dfe6f0;
  }


  .theme--light.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
    color:#fff !important;
    font-weight:lighter !important;
    font-family: $base-font-family;
  }