---
layout: default
scripts:
  - vendor/formdb.min.js
  - components/combo-box.js
body_scripts:
  - index.js
---


<!-- background image -->
<div class="home-splash"></div>
<!-- search and -->
<!-- where to start -->
<section class="search_form">

  {% include search-form.html %}

  <section class="section section-home-start">

    <!-- <div class="container section-home-start-group">

      <h1 class="light_on_dark section-home-start-group-left">Not Sure Where to Start?</h1>

      <button class="button button-wizard section-home-start-group-right">
        Help me find schools <br>best suited to me
      </button>

    </div> -->

  </section>

</section>

<!-- by the numbers -->
<div>
  <section class="section section-home-facts">

    <div class="container">

      <h1>By the Numbers</h1>

      <a class="link-more">
        More Key Facts <i class="fa fa-chevron-right"></i>
      </a>

      <ul>
        {% for i in (1..3) %}
        <li>
          College graduates earn
          <strong>85%</strong> <strong>more</strong>
          than those with just a <br>high school diploma

          <!-- <div class="share">
            <a>Facebook</a>
            <a>Twitter</a>
          </div> -->
        </li>
        {% endfor %}
      </ul>

    </div>

  </section>
</div>

<!-- check out these schools -->
<!-- and paying for college -->
<div class="home-bg-gray">

  <div class="container">

    <section class="section section-home-numbers">

      <div>

        <div>

          <h1>Check Out These Schools</h1>

          <ul class="section-home-numbers-group">
            <li>
              <div class="section-home-numbers-group-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
              <div class="section-home-numbers-group-right">95 4-year schools with high graduation rates — <strong>they spend more on your education than they’ll charge you! </strong></div>
            </li>
            <li>
              <div class="section-home-numbers-group-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
              <div class="section-home-numbers-group-right">30 4-year schools with the <strong>highest earnings</strong> after leaving school and the <strong>lowest cost</strong> for students who are eligible for financial aid</div>
            </li>
            <li>
              <div class="section-home-numbers-group-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
              <div class="section-home-numbers-group-right">48 2-year colleges whose graduates <strong>earn more than graduates from half of all 4-year institutions</strong> </div>
            </li>
            <li>
              <div class="section-home-numbers-group-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
              <div class="section-home-numbers-group-right">30 4-year schools with the <strong>highest graduation rates</strong> and <strong></strong>lowest costs</strong> for students who are eligible for financial aid</div>
            </li>
          </ul>

        </div>

      </div>

    </section>

    <section class="section section-home-paying">

      <div>

        <div>

          <h1>Paying for College</h1>

          <img src="{{ site.baseurl }}/img/cfpb-logo.png" alt="consumer financial protection bureau">

          <div class="section-home-paying-content">

            <p>Get help to make informed financial decisions about how to pay for college. Start by comparing financial aid offers or understanding student loan repayment options.</p>

            <a href="http://www.consumerfinance.gov/paying-for-college/" class="link-more">Go to the consumer financial protection bureau <i class="fa fa-chevron-right"></i></a>

          </div>

        </div>

      </div>

    </section>

  </div>

</div>

<!-- how I'm deciding -->
<!--  Removed for MVP -->
<!-- <div>
  <section class="section section-home-decision">

    <h1>How I'm Making My Decision About College</h1>

    <figure>
      <video></video>
      <figcaption>
        <h1>Karissa S.</h1>
        <p>17, High School Senior<br/>
        Hutchinson, MN</p>
      </figcaption>
    </figure>

  </section>
</div> -->
