---
applications:
  - name: gridsome
    buildpacks:
      - staticfile_buildpack
    memory: 64M
    instances: 1
    path: dist
    env:
      GRIDSOME_API_URL: https://api.data.gov/ed/collegescorecard/v1/
      GRIDSOME_API_KEY:
      GRIDSOME_GOOGLE_MAPS_KEY:
      GRIDSOME_API_SIGNUP_KEY:
      GRIDSOME_RECAPTCHA_KEY:
