---
layout: default
body_scripts:

meter_types:
  cost:
    title: Cost
    value: .38
    average: .4
    value_string: $38,000
  grad_rate:
    title: Graduation Rate
    average: .5
    value: .68
    value_string: 68%
  accept_rate:
    title: Acceptance Rate
    average: .4
    value: .51
    value_string: 51%
  salary:
    title: Salary
    average: .7
    value: .8
    value_string: $80,000

range_types:
  sat:
    title: SAT
    min: 0
    max: 2400
    lower: 840
    upper: 1820
    middle: 1105
  act:
    title: ACT
    min: 1
    max: 36
    lower: 19
    upper: 25
    middle: 22
---
<section class="guide">

  <div class="guide-container">
    <h1>Meters</h1>
    {% for meter_type in page.meter_types %}
      {% assign type = meter_type[0] %}
      {% assign meter = meter_type[1] %}
    <figure class="meter">
      <h2>{{ meter.title }}</h2>
      <picc-meter class="{{ type }}"
        value="{{ meter.value|default:0.25 }}"
        average="{{ meter.average|default:0.5 }}">
      </picc-meter>
      <figcaption>
        {{ meter.value_string|default:meter.value }}
      </figcaption>
    </figure>
    {% endfor %}
  </div>

  <div class="guide-container">

    <figure class="meter">
      <h2>max: 100, value: 60, avg: 50</h2>
      <picc-meter max="100" value="60" average="50">
      </picc-meter>
    </figure>

    <figure class="meter">
      <h2>max: 50k, value: 40k, avg: 20k</h2>
      <picc-meter max="50000" value="40000" average="20000">
      </picc-meter>
    </figure>

  </div>

  <div class="guide-container">
    <h1>Ranges</h1>

    {% for range_type in page.range_types %}
      {% assign type = range_type[0] %}
      {% assign range = range_type[1] %}
    <figure>
      <h2>{{ range.title }}</h2>
      <picc-range class="{{ type }}"
        min="{{ range.min|default:0 }}"
        max="{{ range.max|default:100 }}"
        middle="{{ range.middle|default:50 }}"
        lower="{{ range.lower|default:25 }}"
        upper="{{ range.upper|default:80 }}">
      </picc-range>
    </figure>
    {% endfor %}
  </div>

</section>
