button,
.button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  cursor: pointer;
  height: 46px;
  margin-bottom: 0.6em;
  user-select: none;
  vertical-align: middle;
  width: 100%;
  @include respond-to(tiny-up) {
    width: 280px;
  }

  &.button-primary {
    background-color: $base-button-color;
    color: $white;
    height: 55px;
    width: 100%;
    @include respond-to(tiny-up) {
      width: 300px;
    }
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
      background-color: $hover-button-color;
      color: $white;
    }
  }

  &.button-secondary,
  &.button-compare {
    height: 40px;
  }

  &.button-secondary {
    background-color: $secondary-button-color;
    color: $black;

    &:hover,
    &:focus {
      background-color: $secondary-hover-button-color;
      color: $black;
    }
  }

  &.button-compare {
    background-color: $base-button-color;
    border-radius: 2px;
    color: $white;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
      background-color: $hover-button-color;
      color: $white;
    }
  }

  &.button-wizard {
    background-color: transparent;
    border: 1px solid $white;
    color: $white;
    height: 76px;
    padding-top: 0.9em;
    padding-bottom: 0.8em;
    -webkit-font-smoothing: antialiased;

    &:hover,
    &:focus {
    box-shadow: 0 0 0 2px $white;
    }
  }

  &.button-add,
  &.button-remove {
    width: auto;
    min-width: 50px;
  }

  &.button-add {
    @extend .link-more;
    background-color: $white;
    color: $green;

    &:hover,
    &:focus {
      background-color: $white;
      color: $darker-green;
    }
  }
}

button.block {
  @include appearance(none);
  border: none;
  height: auto;
  margin-bottom: 0;
  width: auto;
}
