$callout_height: 32px;

.callout-banner {
  @include font-size(0.9);
  @extend .light_on_dark;
  color: $white;
  font-weight: $weight-bold;
  padding: $base-padding-lite;
  text-align: center;
}

.callout-banner-wrapper {
  margin-top: $base-padding;
  background-color: $mid-blue;
  position: relative;
}
