// Thanks to http://www.designcouch.com/home/why/2014/04/23/pure-css-drawer-menu/

$drawer-width: 100%;
$drawer-width-medium_up: 30%;

.drawer {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  // adds animation for all transitions

  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;

  aria-accordion {
    min-height: 0;
  }

  aria-accordion [aria-controls]:after {
    $button-size: 20px;
    $button-margin: 9px;

    @include font-size(1.3);
    height: $button-size;
    width: $button-size;
  }

  header {
    @include font-size(0.8);
    color: $black;
    width: 100%;
    position: absolute;
    left: 0;
    background: #c8c8c8;
    padding: 10px 10px 10px 50px;
    line-height: 30px;
    z-index: 0;
  }

  .search-button {
    height: 35px;
  }

  .search_category {
    @include font-size($h3);
  }

  .search_category-head {
    padding-top: 0.9em;
    padding-bottom: 0.9em;
  }
}

// Makes sure that everything is 100% height

html,
body {
    //height: 100%;
    //overflow: hidden;
}

// gets the actual input out of the way;
// we're going to style the label instead

#drawer-toggle {
  position: absolute;
  opacity: 0;
}

#drawer-toggle-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: 0;
  height: 50px;
  width: 50px;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .0);
  z-index: 1;
}

// adds "hamburger" menu icon

#drawer-toggle-label:before {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background: $black;
  left: 13px;
  top: 18px;
  box-shadow: 0 6px 0 $black, 0 12px 0 $black;
}

#drawer {
  position: absolute;
  left: -$drawer-width;
  height: 100%;
  width: $drawer-width;
  background: $white;
  overflow-x: hidden;
  padding-top: $base-padding-extra;
  padding-left: $base-padding;
  -webkit-overflow-scrolling: touch;

  @include respond-to(large-up) {
    left: -$drawer-width-medium_up;
    width: $drawer-width-medium_up;
  }
}

// actual page content pane

#page-content {
  margin-left: 0;
  padding-top: 50px;
  width: 100%;
  //height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

// checked styles (menu open state)

-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - $drawer-width);

  @include respond-to(large-up) {
    width: calc(100% - $drawer-width-medium_up);
  }
}

#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header {
  height: 50px;
  left: $drawer-width - 15%;
  span {
    display: none;
  }

  @include respond-to(large-up) {
    left: $drawer-width-medium_up - 6%;
  }
}

#drawer-toggle:checked ~ #drawer {
  left: 0;
}

#drawer-toggle:checked ~ #page-content {
  margin-left: $drawer-width;

  @include respond-to(large-up) {
    margin-left: $drawer-width-medium_up;
  }
}
