figure.meter {
  @extend .centered;

  display: inline-block;
  margin-bottom: $base-padding;
  // margin-left: .5em;
  // margin-right: .5em;

  .figure-heading,
  figcaption {
    @extend .h2;
  }

  .figure-heading {
    margin-bottom: .4em;
  }

  figcaption {
    display: block;
    padding-top: .4em;
  }

  @include respond-to(medium-up) {
    picc-meter {
      width: 165px;
    }

    .constrain_width {
      width: 180px;
    }
  }
}
