// loadable components may contain elements that should be shown or
// hidden in specific states.
.loadable {
  @each $state in $loadable-states {
    .show-#{$state},
    &.js-#{$state} .hide-#{$state} {
      display: none;
    }

    .fade-#{$state} {
      transition: opacity .2;
    }

    &.js-#{$state} .fade-#{$state} {
      opacity: .5;
    }

    &.js-#{$state} .show-#{$state} {
      display: block;
    }
  }
}

// make errors red
.show-error {
  color: $red;
}
