.pagination {
  margin-top: $base-padding;

  ol {
    display: block;
    background: $white;
    border-radius: 0.4em;
    overflow: hidden;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: $base-padding-lite $base-padding-tb;
        font-weight: bold;
        text-decoration: none;
      }

      &.page-selected {
        a {
          color: $white;
          background: $dark-blue;
        }
      }

      &.arrow {
        a {
          color: $green;
        }
      }
    }
  }
}
