picc-accordion,
.picc-accordion,
[is='picc-accordion'] {
  $button-size: 34px;
  $button-margin: 9px;

  @include transition(height 1s linear);

  display: block;
  overflow: hidden;
  min-height: $button-size + ($button-margin * 2);
  @include respond-to(tiny-up) {
    min-height: $button-size + ($button-margin * 3);
  }

  button[aria-controls],
  a[aria-controls] {
    display: block;
    cursor: pointer;
    position: relative;
  }

  .picc-accordion-toggle-container {
    cursor: pointer;
    position: relative;
  }

  a[aria-controls]:after,
  .picc-accordion-toggle {
    color: #999;
    background: #fff;
    border: 1px solid #e3e3e3;
    border-radius: 500px;
    display: inline-block;
    font-size: $button-size;
    font-weight: normal;
    height: $button-size;
    line-height: 1.075;
    padding-left: 0.02em;
    position: absolute;
    text-align: center;
    top: $button-margin;
    right: 0; // XXX
    width: $button-size;
  }

  a[aria-controls]:after {
    content: '\002B';
    top: -2px;
  }

  &[data-expanded='true'] a[aria-controls]:after {
    content: '\2212';
  }

  a[aria-controls]:hover:after {
    color: #333; // TODO
  }

  .picc-accordion-content {
    display: none;
  }

  &[open] .picc-accordion-content {
    display: block;
  }
}

.picc-accordion-div {
  padding-top: ($base-padding / 2);
}
