picc-accordion,
[is="picc-accordion"] {
  $button-size: 34px;
  $button-margin: 5px;

  display: block;
  overflow: hidden;
  min-height: $button-size + ($button-margin * 2);

  @include transition(height 1s linear);

  .picc-accordion-toggle-container {
    cursor: pointer;
    position: relative;

    .picc-accordion-toggle {
      position: absolute;
      font-size: $button-size;
      line-height: $button-size * 1.05;
      font-weight: normal;
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 5px;
      color: #999;
      background: #fff;
      width: $button-size;
      height: $button-size;
      border-radius: $button-size;
      text-align: center;
      border: 1px solid #e3e3e3;
    }
  }

  .picc-accordion-content {
    display: none;
  }

  &[open] .picc-accordion-content {
    display: block;
  }
}
