$toggle-padding: 15px;

.toggles {
  background-color: $lighter-gray;

  aria-accordion {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: auto;

    &:hover,
    &:focus {
      border-bottom: $thick-border-size solid $dark-blue;
    }

    &[aria-expanded=true] {
      background-color: $white;
    }

    [aria-controls]:after {
      display: none;
    }

    aria-accordion {
      width: 100%;


      [aria-controls]:after {
        display: inline-block;
      }
    }
  }

  fieldset {
    border-top: none;
  }

  .fa-filter,
  .fa-search {
    padding-right: $base-padding-lite;
  }

  .fa-chevron-down {
    @include font-size(0.8);
    padding-left: $toggle-padding;
    vertical-align: 2px;
  }

  .search_category {
    font-weight: $weight-bold;
  }
}

.toggle-control {
  border-bottom: $thick-border-size solid $lighter-gray;
  padding: $base-padding-lite $toggle-padding $base-padding-lite $toggle-padding;
}

.toggle-content {
  background-color: $white;
  box-shadow: 0 8px 9px -3px rgba(50,50,50,0.6);
  padding: $base-padding-lite;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  z-index: 10000;

  .search_category {
    font-weight: $weight-book;
  }
}
