$toggle-padding: 15px;

.toggles {
  background-color: $lighter-gray;

  aria-accordion {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    width: auto;



    &[aria-expanded=true] {
      background-color: $white;
    }

    [aria-controls]:after {
      display: none;
    }

    aria-accordion {
      border-top: $thin-border-size solid $mid-gray;
      width: 100%;

      // &:first-of-type {
      //   margin-top: $base-padding;
      // }

      [aria-controls]:after {
        display: inline-block;
      }
    }
  }

  fieldset {
    border-top: none;
  }

  .fa-filter,
  .fa-search {
    padding-right: $toggle-padding;
  }

  .fa-chevron-down {
    @include font-size(0.8);
    padding-left: $toggle-padding;
    vertical-align: 2px;
  }

  .search_category {
    font-weight: $weight-bold;
  }
}

.toggle-control {
  border-bottom: $thick-border-size solid $lighter-gray;
  padding: $base-padding-lite $toggle-padding $base-padding-lite $toggle-padding;

  &:hover,
  &:focus {
    border-bottom: $thick-border-size solid $dark-blue;
  }
}

.toggle-content {
  background-color: $white;
  border-bottom: $thick-border-size solid $dark-blue;
  box-shadow: 0 8px 9px -3px rgba(50,50,50,0.6);
  padding: $base-padding $base-padding-lite;;
  position: absolute;
  top: 100%;
  left: 0;
  width: 400px;
  z-index: 10000;

  .search_category {
    font-weight: $weight-book;
  }

  .search_form-submit {
    border-top: $thin-border-size solid $mid-gray;
    padding-top: $base-padding-large;
  }

  .search-button {
    margin-bottom: $base-padding;
  }
}

// .toggle-content-search {
//   padding-top: 1.64em;
// }
