.tooltip-target {
  position: relative;

  i {
    color: $mid-blue;
  }
}

[aria-describedby^=tip-] {
  cursor: pointer;

  &:hover,
  &:focus {
    i {
      color: $black;
      opacity: 0.7;
    }
  }
}

[role="tooltip"] {
  @include font-size(1);

  background: $black;
  background: $black-transparent;
  border-radius: $base-border-radius;
  color: $white;
  font-weight: $weight-light;
  left: -50%;
  line-height: $base-line-height;
  margin-top: 10px;
  padding: $base-padding;
  position: absolute;
  top: 100%;
  width: 300px;
  z-index: 1000;

  .tooltip-arrow {
    left: 50%;
    margin-left: -2px;
    position: absolute;
  }

  &.tooltip_below .tooltip-arrow {
    @include triangle(15px, $black-transparent, up);
    bottom: 100%;
  }

  &.tooltip_above {
    top: auto;
    bottom: 100%;
    margin-bottom: 10px;

    .tooltip-arrow {
      @include triangle(15px, $black-transparent, down);
      top: 100%;
    }
  }
}

// TODO
// set to appear above tip for starters, really want that to be context-dependent
// set the 'arrow' to appear wherever the icon is independent of where the box shows up
// set defined width at larger screen sizes, and close to 100% for smaller screen sizes
