class="debt"
data-bind="average_total_debt_meter"
max="{{ site.data.national_stats.median_total_debt.max }}"
median="{{ site.data.national_stats.median_total_debt.median }}"
percentile-range="{{ site.data.national_stats.median_total_debt.percentile_range|join:'..' }}"
data-max-cert="{{ site.data.national_stats.median_total_debt_lt2.max }}"
data-max-two_year="{{ site.data.national_stats.median_total_debt_2.max }}"
data-max-four_year="{{ site.data.national_stats.median_total_debt_4.max }}"
data-median-cert="{{ site.data.national_stats.median_total_debt_lt2.median }}"
data-median-two_year="{{ site.data.national_stats.median_total_debt_2.median }}"
data-median-four_year="{{ site.data.national_stats.median_total_debt_4.median }}"
data-range-cert="{{ site.data.national_stats.median_total_debt_lt2.percentile_range|join:'..' }}"
data-range-two_year="{{ site.data.national_stats.median_total_debt_2.percentile_range|join:'..' }}"
data-range-four_year="{{ site.data.national_stats.median_total_debt_4.percentile_range|join:'..' }}"