  class="earnings"
  t-value="average_salary_value"
  max="{{ site.data.national_stats.median_earnings.max }}"
  average="{{ site.data.national_stats.median_earnings.median }}"
  average-format="dollars"
  average-range="{{ site.data.national_stats.median_earnings.average_range | join:'..' }}"
  data-max-four_year="{{ site.data.national_stats.median_earnings_4.max }}"
  data-max-lt_four_year="{{ site.data.national_stats.median_earnings_l4.max }}"
  data-median-four_year="{{ site.data.national_stats.median_earnings_4.median }}"
  data-median-lt_four_year="{{ site.data.national_stats.median_earnings_l4.median }}"
