<fieldset>
    <legend>Compare Schools</legend>
    <ul id="edit-compare-list">
        <li class="edit-compare-list-item">
            <label class="checkbox" data-bind="checkbox_label" data-school for="compare_checkbox">
                <input id="compare_checkbox" type="checkbox" name="_compare" tabindex="0" data-bind="compare_checkbox">
                <span tabindex="-1" class="checkbox-focus"></span>
                <span data-bind="name"></span>
            </label>
        </li>
    </ul>
</fieldset>

<div class="container compare_link">
    <a id="compare-link" class="button button-primary compare-button_link">
        <span>Compare Schools</span>
    </a>
</div>