<fieldset>
  <legend>Filter Results</legend>

  <div id="filters-content">

    <div class="filter_section">
      <h2 aria-describedby="tip-avg-cost-year" tabindex="0">Average Annual Cost
        <span class="tooltip-target">
          <i class="fa fa-info-circle"></i>
        </span>
      </h2>
      <picc-slider format="$"
        max="{{ site.data.national_stats.net_price.max }}"
        step="1000">
        <input type="hidden" name="avg_net_price">
      </picc-slider>
    </div>


    <div class="filter_section">
      <h2 aria-describedby="tip-graduation-rate" tabindex="0">Graduation Rate
        <span class="tooltip-target">
          <i class="fa fa-info-circle"></i>
        </span>
      </h2>
      <picc-slider format="%" step=".01" max="1">
        <input type="hidden" name="completion_rate">
      </picc-slider>
    </div>

    <div class="filter_section">
      <h2 aria-describedby="tip-avg-salary" tabindex="0">Salary After Attending
        <span class="tooltip-target">
          <i class="fa fa-info-circle"></i>
        </span>
      </h2>
      <picc-slider format="$"
        max="{{ site.data.national_stats.median_earnings.max }}"
        step="1000">
        <input type="hidden" name="median_earnings">
      </picc-slider>
    </div>

    <!-- <div class="filter_section">
      <h2 aria-describedby="tip-repayment-rate" tabindex="0">Monthly Student Loan Payment
        <span class="tooltip-target">
          <i class="fa fa-info-circle"></i>
        </span>
      </h2>
      <picc-slider format="$" max="550" step="50">
        <input type="hidden" name="monthly_payments">
      </picc-slider>
    </div> -->

  </div>

</fieldset>
