<footer>

  <p>See our work on <a href="https://www.github.com/18f/college-choice" target="_blank">GitHub</a> <i class="fa fa-github"></i></p>
  <p class="footer-owner"><a href="http://www.ed.gov/" target="_blank">U.S. Department of Education</a></p>
  <p><a href="http://www2.ed.gov/about/contacts/gen/index.html" target="_blank">Contact Us</a></p>
  <p class="footer-attribution">Zipcode latitude and longitude provided by <a href="http://www.geonames.org/">GeoNames</a> under a Creative Commons Attribution 3.0 License.</p>

</footer>
