<footer>

  <p>See our work on <a href="https://www.github.com/RTICWDT/college-scorecard" target="_blank">GitHub</a> <i class="fa fa-github"></i> | <a href="https://github.com/RTICWDT/college-scorecard/releases" target="_blank">{{ site.version }}</a></p>
  <p class="footer-owner"><a href="http://www.ed.gov/" target="_blank">U.S. Department of Education</a></p>
  <p><a href="mailto:scorecarddata@rti.org">Contact Us</a> | <a href="http://www2.ed.gov/notices/index.html?src=ft" target="_blank">Notices</a> | <a href="{{ site.baseurl }}/data/documentation/archive/">Archive</a></p>
  <p class="footer-attribution">Zipcode latitude and longitude provided by <a href="http://www.geonames.org/">GeoNames</a> under a Creative Commons Attribution 3.0 License.</p>

</footer>
