<header>

  <div class="banner">

    <div>

      <a href="https://www.ed.gov/"><span class="ed-logo"></span> U.S. Department of Education</a>

    </div>

  </div>

  <div class="title">

    <div>

      <h1><a href="{{ site.baseurl }}/data">Data</a></h1>

      <nav class="title-nav">
        <ul>
          <a href="{{ site.baseurl }}/data"><li>Home</li></a>
          <a href="#"><li>Data Insights</li></a>
          <a href="#"><li>Explore the Data</li></a>
          <a href="#"><li>API Documentation</li></a>
          <a href="{{ site.baseurl }}/"><li>College Choice</li></a>
        </ul>
      </nav>

    </div>

  </div>

</header>
