<header>

  <div class="banner">

    <div>

      <a href="https://www.ed.gov/" target="_blank"><span class="ed-logo"></span> U.S. Department of Education</a>

    </div>

  </div>

  <div class="title">

    <div>

      <h1><a href="{{ site.baseurl }}/data/">College Scorecard Data</a></h1>

      <nav class="title-nav">
        <ul>
          <a href="{{ site.baseurl }}/data/documentation/"><li>Data Documentation</li></a>
          <a href="{{ site.baseurl }}/"><li>College Scorecard</li></a>
        </ul>
      </nav>

    </div>

  </div>

</header>
