<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <!-- site styles -->
  {% for sheet in site.stylesheets %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ sheet }}">
  {% endfor %}

  {% if page.stylesheets %}<!-- page-specific styles -->
  {% for sheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ sheet }}">
  {% endfor %}{% endif %}

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- site scripts -->
  {% for script in site.scripts %}
  <script src="{{ site.baseurl }}/js/{{ script }}"></script>
  {% endfor %}
  {% if page.scripts %}<!-- page scripts -->
  {% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{ script }}"></script>
  {% endfor %}{% endif %}
</head>
