<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="joZQgj-M8GQ05V29ojfVsbsNk44SRgGqJfws9tBcnPU">
  <meta name=“google-site-verification” content="V-KEdRwSWd6GSLEWRBddZy6B5yLCs6vkRRflrImQiKE" />

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Twitter and OpenGraph data
  ================================================== -->
  <!-- type -->
  <meta property="og:type" content="website">

  <!-- title -->
  {% if page.title %}
  <title>{{ page.title }}</title>
  <meta property="og:title" content="{{ page.title | xml_escape }}">
  <meta name="twitter:title" content="{{ page.title | xml_escape }}">
  {% else %}
  <title>{{ site.title }}</title>
  <meta property="og:title" content="{{ site.title | xml_escape }}">
  <meta name="twitter:title" content="{{ site.title | xml_escape }}">
  {% endif %}

  {% if site.branch and site.branch != 'master' %}
  {% capture canonical_base_url %}https://federalist-proxy.app.cloud.gov/preview/rticwdt/college-scorecard/{{ site.branch }}{% endcapture %}
  {% else %}
  {% assign canonical_base_url = site.url %}
  {% endif %}
  <!-- canonical_base_url: {{ canonical_base_url }} -->

  <!-- img -->
  <meta property="og:image" content="{{ canonical_base_url }}/img/Scorecard-Preview.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ canonical_base_url }}/img/Scorecard-Preview.jpg">

  <!-- description -->
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">

  <!-- Favicons
  ================================================== -->
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/img/favicon-32x32.png" sizes="32x32">

  <!-- Styles
  ================================================== -->
  <!--Get app.css-->
  {% for css in site.static_files %}
    {% if css.path contains "css/app" %}
      <link rel="stylesheet" href="{{ site.baseurl }}{{ css.path }}">
    {% endif %}
  {% endfor %}

  <!-- page-specific styles -->
  {% if page.stylesheets %}
  {% for sheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ sheet }}">
  {% endfor %}{% endif %}

  <!-- Scripts
  ================================================== -->
  
  <!-- add google charts -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  {% for script in site.scripts %}
  <script src="{{ site.baseurl }}/js/{{ script }}"></script>
  {% endfor %}

  <!-- JavaScript configuration with site variables -->
  {% include js-config.html %}

  {% if page.scripts %}<!-- page scripts -->
  {% for script in page.scripts %}
  <script src="{{ site.baseurl }}/js/{{ script }}"></script>
  {% endfor %}{% endif %}

  {% if site.analytics %}
  <script src="{{ site.baseurl }}/js/picc-analytics.js"></script>
  <script src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js" id="_fed_an_ua_tag"></script>
  {% endif %}

</head>
