<script>
  window.api = {};

  {% if site.API[site.branch] %}
    window.api.url = '{{ site.API[site.branch].baseurl }}';
    window.api.key = '{{ site.API[site.branch].key }}';
  {% else %}
    window.api.url = '{{ site.API.baseurl }}';
    window.api.key = '{{ site.API.key }}';
  {% endif %}
  
  scorecard_version = "{{ site.version }}";
  baseurl = "{{ site.baseurl }}";

  // API Key Signup
  var apiUmbrellaSignupOptions = {
    registrationSource: 'college-scorecard',
    apiKey: '{{ site.API.signup_key }}',
    contactUrl: 'scorecarddata@rti.org',
    siteName: 'College Scorecard',
    emailFromName: 'College Scorecard',
    exampleApiUrl: 'https://api.data.gov/ed/collegescorecard/v1/schools?api_key=API_KEY'
};

</script>