  <script>
  picc.BASE_URL = '{{ site.baseurl }}';
  picc.SITE_BRANCH = '{{ site.branch }}';

  {% if site.API[site.branch] %}
  picc.API.url = '{{ site.API[site.branch].baseurl }}';
  picc.API.key = '{{ site.API[site.branch].key }}';
  {% else %}
  picc.API.url = '{{ site.API.baseurl }}';
  picc.API.key = '{{ site.API.key }}';
  {% endif %}

  /*
   * This is a dictionary for the various "special designation"
   * columns. The race/ethnicity ones are all nested under the
   * `minority_serving` property, whereas the `women_only` and
   * `men_only` are top-level properties of each school API response
   * object.
   */
  picc.SPECIAL_DESIGNATIONS = ({{ site.data.special_designations|jsonify }});

  /*
   * Map of race-ethnicity ids to their labels
   */
  picc.RACE_ETHNICITY_LABELS = ({{ site.data.race_ethnicity|jsonify }});

  /*
   * The names of programs by API sub-field key, e.g.
   * 'language': 'Foreign Languages, Literatures, and Linguistics'
   */
  picc.PROGRAM_NAMES = {
  {% for program in site.data.programs %}
    '{{ program.key }}': '{{ program.label }}',{% endfor %}
  };

  // map religious affiliation ids to their labels
  picc.RELIGIOUS_AFFILIATIONS_BY_NUMBER = {
  {% for affiliation in site.data.religious_affiliations %}
    '{{ affiliation.value }}': '{{ affiliation.label }}', {% endfor %}
  };
  </script>

