  class="cost"
  t-value="average_cost_value"
  max="{{ site.data.national_stats.net_price.max }}"
  average="{{ site.data.national_stats.net_price.median }}"
  average-format="dollars"
  average-range="{{ site.data.national_stats.net_price.average_range|join:'..' }}"
  data-max-public="{{ site.data.national_stats.net_price_public.max }}"
  data-max-private="{{ site.data.national_stats.net_price_private.max }}"
  data-median-public="{{ site.data.national_stats.net_price_public.median }}"
  data-median-private="{{ site.data.national_stats.net_price_private.median }}"
