<h1>Paying For College</h1>
<div class="section-home-paying-content">
    <div class="u-align_c">
    <a href="https://studentaid.ed.gov/sa/types#aid-from-the-federal-government" class="btn" target="_blank">
        Types of Financial Aid</a>
    <a href="https://fafsa.ed.gov/FAFSA/app/f4cForm" class="btn" target="_blank">
        Calculate Your Aid</a>
    <a href="https://fafsa.ed.gov/" class="btn" target="_blank">
        Start My FAFSA</a>
    <a href="https://www.vets.gov/gi-bill-comparison-tool" class="btn" target="_blank">
        GI Bill&reg; Benefits</a>
    </div>
</div>