  {% capture common_input_attributes %}autocomplete="off" autocorrect="off" autocapitalize="off"{% endcapture %}
  <div class="controls-container">
  <fieldset>
    <legend>Programs/Degree</legend>

    <aria-accordion id="school-degree" class="container">

      <h1 class="search_category">
        <button type="button" aria-expanded="false" aria-controls="major-content">
          Programs/Degrees
        </button>
      </h1>
      <div id="major-content" aria-hidden="true" class="accordion-div">

        <label for="major-type">Choose a degree
          <select id="major-type" name="degree">
            <option value="" selected>Any</option>
            <option value="c">Certificate</option>
            <option value="a">Two-year (Associate's)</option>
            <option value="b">Four-year (Bachelor's)</option>
          </select>
        </label>

        <label for="major">Choose a program
          <select id="major" name="major">
            <option value="" selected>Any</option>
            {% for program in site.data.programs %}
            <option value="{{ program.key }}">{{ program.label }}</option>
            {% endfor %}
          </select>
        </label>

      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>
    <legend>Location</legend>

    <aria-accordion id="school-location" class="container">

      <h1 class="search_category">
        <button type="button" aria-expanded="false" aria-controls="location-content">
          Location
        </button>
      </h1>

      <div id="location-content" aria-hidden="true" class="accordion-div">

        <div class="input-add group_inline">

          <div class="label" id="label-select-state">
            Select one or more states
          </div>

          <multi-select>
            <div class="u-group_inline u-group_inline-left">
              <select aria-labelledby="label-select-state" class="select-state" name="state">
                <option value="" selected>Any</option>
                {% for state in site.data.states|sort('name') %}
                <option value="{{ state.abbr }}">{{ state.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="u-group_inline u-group_inline-right u-nowrap">
              <button type="button" class="button button-add">
                Add<br>State
              </button>
              <button type="button" class="button button-remove" title="Remove State" aria-label="Remove State">
                <i class="fa fa-times-circle"></i>
              </button>
            </div>
          </multi-select>

        </div>

        <div class="input-add group_inline">

          <div class="label" id="label-select-region">
            Select one or more regions
          </div>

          <multi-select>
            <div class="u-group_inline u-group_inline-left">
              <select aria-labelledby="label-select-region" class="select-region" name="region">
                <option value="" selected>Any</option>
                {% for region in site.data.regions|sort('name') %}
                <option value="{{ region.id }}" data-states="{{ region.states }}">{{ region.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="u-group_inline u-group_inline-right u-nowrap">
              <button type="button" class="button button-add">
                Add<br>Region
              </button>
              <button type="button" class="button button-remove" title="Remove Region" aria-label="Remove Region">
                &times;
              </button>
            </div>
          </multi-select>

        </div>

        <div class="group_inline">

          <label for="zip-code" class="group_inline-left">Enter a ZIP code
            <input id="zip-code" name="zip" type="number" placeholder="e.g., 45400" {{ common_input_attributes }}>
          </label>

          <label for="search-radius" class="group_inline-right">Mile radius
            <input name="distance" type="number" step=".1" placeholder="10" value="10" id="search-radius" {{ common_input_attributes }}>
          </label>

        </div>

        <!--
        <label for="online" class="checkbox">
          <input id="online" type="checkbox" name="online" checked value="1" tabindex="0">
          <span tabindex="-1" class="checkbox-focus"></span>Include Online-Only Schools
        </label>
        -->

      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>
    <legend>Size</legend>

    <aria-accordion id="school-size" class="container">

      <h1 class="search_category">
        <button type="button" aria-expanded="false" aria-controls="size-content">
          Size
        </button>
      </h1>

      <div id="size-content" aria-hidden="true">
        <fieldset class="nested_fieldset">

          <legend>Undergraduate Student Body</legend>
          <h1>Undergraduate Student Body</h1>

          <ul>
            <li>
              <label for="size-small" class="checkbox">
                <input id="size-small" type="checkbox" name="size" value="small" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Small (&lt; 2,000)
              </label>
            </li>
            <li>
              <label for="size-medium" class="checkbox">
                <input id="size-medium" type="checkbox" name="size" value="medium" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Medium (2,000&ndash;15,000)
              </label>
            </li>
            <li>
              <label for="size-large" class="checkbox">
                <input id="size-large" type="checkbox" name="size" value="large" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Large (&gt; 15,000)
              </label>
            </li>
          </ul>

        </fieldset>

      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>
    <legend>Name</legend>

    <aria-accordion id="school-name" class="container">

      <h1 class="search_category">
        <button type="button" aria-expanded="false" aria-controls="name-content">
          Name
        </button>
      </h1>

      <div id="name-content" aria-hidden="false" class="accordion-div">
        <label for="name-school">School name</label>
        <input id="name-school" name="name" type="text" placeholder="e.g., USA University" {{ common_input_attributes }}>
      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>
    <legend>Advanced Search</legend>

    <aria-accordion class="container">
      <h1 class="search_category">
        <button type="button" aria-expanded="false" aria-controls="type-content">
          Advanced Search
        </button>
      </h1>

      <div id="type-content" aria-hidden="false">

        <fieldset class="nested_fieldset">
          <legend>Type of school</legend>

          <h1>Type of school</h1>

          <ul>
            <li>
              <label for="type-public" class="checkbox">
                <input id="type-public" type="checkbox" name="control" value="public" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Public
              </label>
            </li>
            <li>
              <label for="type-private" class="checkbox">
                <input id="type-private" type="checkbox" name="control" value="private" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Private Nonprofit
              </label>
            </li>
            <li>
              <label for="type-profit" class="checkbox">
                <input id="type-profit" type="checkbox" name="control" value="profit" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Private For-Profit
              </label>
            </li>
          </ul>

        </fieldset>

        <label for="special">Specialized mission
          <select id="special" name="serving">
            <option value="" selected>Any</option>
            {% for designation in site.data.special_designations %}
            <option value="{{ designation[0] }}">{{ designation[1] }}</option>
            {% endfor %}
          </select>
        </label>

        <label for="affiliation">Religious affiliation
          <select id="affiliation" name="religious">
            <option value="" selected>Any</option>
            {% for row in site.data.religious_affiliations %}
            <option value="{{ row.value }}">{{ row.label }}</option>
            {% endfor %}
          </select>
        </label>

      </div>

    </aria-accordion>

  </fieldset>
  </div><!-- /.controls-container -->

  <div class="container search_form-submit">

    <!-- Section for future advanced search features
    <fieldset class="advanced_search">

      <aria-accordion>
          <legend>Advanced Search</legend>

          <div class="advanced_search-title">
            <button type="button" aria-expanded="false" aria-controls="advanced-content" class="button link-more advanced_search-control">
              Advanced Search <i class="fa fa-plus"></i>
            </button>
          </div>

        <div id="advanced-content" class="advanced-content" aria-hidden="false">

        </div>

        <input type="submit" value="Submit" class="sr-only" tabindex="-1">

      </aria-accordion>

    </fieldset> END section for future advanced search features -->

    <button type="submit" id="search-submit" class="button button-primary search-button">
      Find Schools
    </button>

  </div>
