  {% capture common_input_attributes %}autocomplete="off" autocorrect="off" autocapitalize="off"{% endcapture %}
  <input type="hidden" name="page">

  <div class="controls-container">
  <ul class="collapsible {{include.extraClass}}">
    <li>
        <div id="school-degree" class="collapsible-header" aria-controls="major-content">
          Programs/Degree <i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body" id="major-content">
            <label for="major-type">Choose a degree
              <select id="major-type" name="degree">
                <option value="" selected>Any</option>
                <option value="c">Certificate</option>
                <option value="a">Two-year (Associate's)</option>
                <option value="b">Four-year (Bachelor's)</option>
              </select>
            </label>
    
            <label for="major">Choose a program
              <select id="major" name="major">
                <option value="" selected>Any</option>
                {% for program in site.data.programs %}
                <option value="{{ program.key }}">{{ program.label }}</option>
                {% endfor %}
              </select>
            </label>
        </div>
    </li>

    <li>
        <div id="school-location" class="collapsible-header" aria-controls="location-content">
            Location <i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body" id="location-content">
            <div class="input-add group_inline">
              <div class="label" id="label-select-state">
                Select one or more states
              </div>
              <select aria-labelledby="label-select-state" class="select-state" name="state" multiple>
                <option value="" selected>Any</option>
                {% for state in site.data.states|sort('name') %}
                  <option value="{{ state.abbr }}">{{ state.name }}</option>
                {% endfor %}
              </select>
            </div>
      
            <div class="input-add group_inline">
              <div class="label" id="label-select-region">
                Select one or more regions
              </div>
              <select aria-labelledby="label-select-region" class="select-region" name="region" multiple>
                <option value="" selected>Any</option>
                {% for region in site.data.regions|sort('name') %}
                <option value="{{ region.id }}" data-states="{{ region.states }}">{{ region.name }}</option>
                {% endfor %}
              </select>
            </div>  
      
              <div class="group_inline">
      
                <label for="zip-code" class="group_inline-left">Enter a ZIP code
                  <input id="zip-code" name="zip" type="number" placeholder="e.g., 45400" {{ common_input_attributes }}>
                </label>
      
                <label for="search-radius" class="group_inline-right">Mile radius
                  <input name="distance" type="number" step=".1" placeholder="10" value="10" id="search-radius" {{ common_input_attributes }}>
                </label>
      
              </div>
      
        </div>
    </li>

    <li>
        <div id="school-size" class="collapsible-header" aria-controls="size-content">
            Size <i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body" id="size-content">
            <h4>Undergraduate Student Body</h4>
            <ul>
              <li>
                <label for="size-small" class="checkbox">
                  <input id="size-small" type="checkbox" name="size" value="small" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Small (&lt; 2,000)
                </label>
              </li>
              <li>
                <label for="size-medium" class="checkbox">
                  <input id="size-medium" type="checkbox" name="size" value="medium" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Medium (2,000&ndash;15,000)
                </label>
              </li>
              <li>
                <label for="size-large" class="checkbox">
                  <input id="size-large" type="checkbox" name="size" value="large" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Large (&gt; 15,000)
                </label>
              </li>
            </ul>           
        </div>
    </li>

    <li>
        <div id="school-name" class="collapsible-header" aria-controls="name-content">
            Name <i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body" id="name-content">
            <label for="name-school">School name</label>
            <input id="name-school" name="name" type="text" placeholder="e.g., USA University" {{ common_input_attributes }}>    
        </div>
    </li>

    <li>
        <div id="school-type" class="collapsible-header" aria-controls="type-content">
            Advanced Search <i class="material-icons">expand_more</i>
        </div>
        <div class="collapsible-body" id="type-content">
            <h4>Type of school</h4>

            <ul>
              <li>
                <label for="type-public" class="checkbox">
                  <input id="type-public" type="checkbox" name="control" value="public" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Public
                </label>
              </li>
              <li>
                <label for="type-private" class="checkbox">
                  <input id="type-private" type="checkbox" name="control" value="private" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Private Nonprofit
                </label>
              </li>
              <li>
                <label for="type-profit" class="checkbox">
                  <input id="type-profit" type="checkbox" name="control" value="profit" tabindex="0">
                  <span tabindex="-1" class="checkbox-focus"></span>Private For-Profit
                </label>
              </li>
            </ul>

            <label for="special">Specialized mission
                <select id="special" name="serving">
                  <option value="" selected>Any</option>
                  {% for designation in site.data.special_designations %}
                  <option value="{{ designation[0] }}">{{ designation[1] }}</option>
                  {% endfor %}
                </select>
              </label>
      
              <label for="affiliation">Religious affiliation
                <select id="affiliation" name="religious">
                  <option value="" selected>Any</option>
                  {% for row in site.data.religious_affiliations %}
                  <option value="{{ row.value }}">{{ row.label }}</option>
                  {% endfor %}
                </select>
              </label>
        </div>
    </li>

  </ul>

  </div><!-- /.controls-container -->

  <div class="container search_form-submit center-align">

    
    <button type="submit" id="search-submit" class="waves-effect waves-light btn-large">
        <i class="material-icons left">search</i> Find Schools
    </button>

  </div>
