{% if search_form_nested != true %}
<form id="search-form" is="search-form"
  autocomplete="false"
  action="{{ site.baseurl }}/search/" method="GET">
{% endif %}

  {% capture common_input_attributes %}autocomplete="off" autocorrect="off" autocapitalize="off"{% endcapture %}

  <input type="hidden" name="under_investigation">

  <div class="container search-form-intro">

    <legend>Find Schools By:</legend>
    <h1 class="large_heading">Find Schools By:</h1>
    <p>Enter criteria that is important to you</p>

  </div>

  {% if show_search_filters %}
  <fieldset>

    <aria-accordion id="search-filters" class="container">

      <legend>Filters</legend>
      <h1 class="search_category">
        <a aria-expanded="false" aria-controls="filters-content">
          Filters
        </a>
      </h1>

      <div id="filters-content" aria-hidden="true" class="accordion-div">

        <div class="filter_section">
          <h2 aria-describedby="tip-avg-cost-year">Actual Cost
            <a class="tooltip-target">
              <i class="fa fa-info-circle"></i>
            </a>
          </h2>
          <picc-slider format="$" max="90000" step="1000">
            <input type="hidden" name="avg_net_price">
          </picc-slider>
        </div>


        <div class="filter_section">
          <h2 aria-describedby="tip-graduation-rate">Graduation Rate
            <a class="tooltip-target">
              <i class="fa fa-info-circle"></i>
            </a>
          </h2>
          <picc-slider format="%" step=".01" max="1">
            <input type="hidden" name="2013.completion.rate_suppressed.overall__range">
          </picc-slider>
        </div>

        <div class="filter_section">
          <h2 aria-describedby="tip-avg-salary">Salary After Graduation
            <a class="tooltip-target">
              <i class="fa fa-info-circle"></i>
            </a>
          </h2>
          <picc-slider format="$" max="250000">
            <input type="hidden" name="median_earnings">
          </picc-slider>
        </div>

        <div class="filter_section">
          <h2 aria-describedby="tip-repayment-rate">Monthly Student Loan Payment
            <a class="tooltip-target">
              <i class="fa fa-info-circle"></i>
            </a>
          </h2>
          <picc-slider format="$" max="1000" step="50">
            <input type="hidden" name="monthly_payments">
          </picc-slider>
        </div>

      </div>

    </aria-accordion>

  </fieldset>
  {% endif %}


  <fieldset>

    <aria-accordion id="school-name" class="container">

      <legend>Name</legend>
      <h1 class="search_category">
        <a aria-expanded="true" aria-controls="name-content">
          Name
        </a>
      </h1>

      <div id="name-content" aria-hidden="false" class="accordion-div">
        <label for="name-school">School name</label>
        <input id="name-school" name="name" type="text" placeholder="e.g. USA University" {{ common_input_attributes }}>
      </div>

      <input type="submit" class="sr-only">

    </aria-accordion>

  </fieldset>

  <fieldset>

    <aria-accordion id="school-location" class="container">

      <legend>Location</legend>
      <h1 class="search_category">
        <a aria-expanded="false" aria-controls="location-content">
          Location
        </a>
      </h1>

      <div id="location-content" aria-hidden="true" class="accordion-div">

        <div class="input-add group_inline">

          <label for="select-state">
            Select one or more states
          </label>

          <multi-select>
            <div class="u-group_inline u-group_inline-left">
              <select name="state" class="select-state">
                <option value=""></option>
                {% for state in site.data.states|sort('name') %}
                <option value="{{ state.abbr }}">{{ state.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="u-group_inline u-group_inline-right u-nowrap">
              <button class="button button-add">
                Add State
              </button>
              <button class="button button-remove">
                &times;
              </button>
            </div>
          </multi-select>

        </div>

        <div class="input-add group_inline">

          <label for="select-region">
            Select one or more regions
          </label>

          <multi-select>
            <div class="u-group_inline u-group_inline-left">
              <select name="region" class="select-region">
                <option value=""></option>
                {% for region in site.data.regions|sort('name') %}
                <option value="{{ region.id }}" data-states="{{ region.states }}">{{ region.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="u-group_inline u-group_inline-right u-nowrap">
              <button class="button button-add">
                Add Region
              </button>
              <button class="button button-remove">
                &times;
              </button>
            </div>
          </multi-select>

        </div>

        <div class="group_inline">

          <label for="zip-code" class="group_inline-left">Enter a ZIP Code
            <input id="zip-code" name="zip" type="number" placeholder="e.g. 45400" {{ common_input_attributes }}>
          </label>

          <label for="search-radius" class="group_inline-right">Mile radius
            <input name="distance" type="number" step=".1" placeholder="no limit" id="search-radius" {{ common_input_attributes }}>
          </label>

        </div>

        <label for="online" class="checkbox">
          <input id="online" type="checkbox" name="online" value="1" tabindex="0">
          <span tabindex="-1" class="checkbox-focus"></span>Include Online Only Schools
        </label>

      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>

    <aria-accordion id="school-degree" class="container">

      <legend>Programs/Degree</legend>
      <h1 class="search_category">
        <a aria-expanded="false" aria-controls="major-content">
          Programs/Degree
        </a>
      </h1>
      <div id="major-content" aria-hidden="true" class="accordion-div">

        <label for="major">Choose a program
          <select id="major" name="major">
            <option value="">Any</option>
            {% for program in site.data.programs %}
            <option value="{{ program.key }}">{{ program.label }}</option>
            {% endfor %}
          </select>
        </label>

        <label for="major-type">Choose a degree
          <select id="major-type" name="degree">
            <option value="">Any</option>
            <option value="a">Associates</option>
            <option value="b">Bachelors</option>
          </select>
        </label>

      </div>

    </aria-accordion>

  </fieldset>

  <fieldset>

    <aria-accordion id="school-size" class="container">

      <legend>Size</legend>
      <h1 class="search_category">
        <a aria-expanded="false" aria-controls="size-content">
          Size
        </a>
      </h1>

      <div id="size-content" aria-hidden="true">
        <fieldset class="nested_fieldset">

          <legend>Undergraduate Student Body</legend>
          <h1>Undergraduate Student Body</h1>

          <ul>
            <li>
              <label for="size-small" class="checkbox">
                <input id="size-small" type="checkbox" name="size" value="small" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Small (&lt; 2,000)
              </label>
            </li>
            <li>
              <label for="size-medium" class="checkbox">
                <input id="size-medium" type="checkbox" name="size" value="medium" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Medium (2,000&ndash;15,000)
              </label>
            </li>
            <li>
              <label for="size-large" class="checkbox">
                <input id="size-large" type="checkbox" name="size" value="large" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Large (&gt; 15,000)
              </label>
            </li>
          </ul>

        </fieldset>

        <!-- <fieldset class="nested_fieldset">

          <legend>Student-to-Faculty Ratio</legend>
          <h1>Student-to-Faculty Ratio</h1>

          <ul>
            <li>
              <label for="ratio-low" class="checkbox">
                <input id="ratio-low" type="checkbox" name="sf_ratio" value="low" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Low (&lt; 20:1)
              </label>
            </li>
            <li>
              <label for="ratio-medium" class="checkbox">
                <input id="ratio-medium" type="checkbox" name="sf_ratio" value="medium" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>Medium (20:1&ndash;50:1)
              </label>
            </li>
            <li>
              <label for="ratio-high" class="checkbox">
                <input id="ratio-high" type="checkbox" name="sf_ratio" value="high" tabindex="0">
                <span tabindex="-1" class="checkbox-focus"></span>High (&gt; 50:1)
              </label>
            </li>
          </ul>

        </fieldset> -->

      </div>

    </aria-accordion>

  </fieldset>

  <div class="container search_form-submit">

    <button id="search-submit" class="button button-primary">
      Find Schools
    </button>

    <div>
      <a class="button link-more">
        Advanced Search <i class="fa fa-plus"></i>
      </a>
    </div>

  </div>

{% if search_form_nested != true %}
</form>
{% endif %}
