<footer>

  <p>Powered by <a href="{{ site.baseurl }}/data/">College Scorecard Data</a> | <a href="https://github.com/RTICWDT/college-scorecard/releases" target="_blank">{{ site.version }}</a></p>
  <p class="footer-owner"><a href="http://www.ed.gov/" target="_blank">U.S. Department of Education</a></p>
  <p><a href="mailto:scorecarddata@rti.org">Contact Us</a> | <a href="http://www2.ed.gov/notices/index.html?src=ft" target="_blank">Notices</a></p>
  <p class="footer-attribution">Zipcode latitude and longitude provided by <a href="http://www.geonames.org/">GeoNames</a> under a Creative Commons Attribution 3.0 License.</p>

</footer>
