  <script>
  // picc.BASE_URL = '{{ site.baseurl }}';
  // picc.SITE_BRANCH = '{{ site.branch }}';

  // {% if site.API[site.branch] %}
  // picc.API.url = '{{ site.API[site.branch].baseurl }}';
  // picc.API.key = '{{ site.API[site.branch].key }}';
  // {% else %}
  // picc.API.url = '{{ site.API.baseurl }}';
  // picc.API.key = '{{ site.API.key }}';
  // {% endif %}

  window.api = {};

  {% if site.API[site.branch] %}
    window.api.url = '{{ site.API[site.branch].baseurl }}';
    window.api.key = '{{ site.API[site.branch].key }}';
  {% else %}
    window.api.url = '{{ site.API.baseurl }}';
    window.api.key = '{{ site.API.key }}';
  {% endif %}
  
  scorecard_version = "{{ site.version }}";
  </script>

