// Utility classes
//============================================

.test {
  color: yellow;
}

.hidden {
  display: none;
}

.container {
  @include padded-container();
}

.container-collapse {
  padding: {
    left: 0;
    right: 0;
  }

  @include respond-to(medium-up) {
    padding: {
      left: em(30);
      right: em(30);
    }
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden; 
}

.new_line {
  display: block;
}


// Site-wide
//============================================

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

a {
  .expand, 
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}


// Sections
//============================================

.section {
  padding-top: $base-padding;
  padding-bottom: $base-padding;

  h1 {
    padding-bottom: $base-padding-lite;
  }
}

.section-card_container {

  h1 {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  > div > div,
  .contained {
    background-color: $white;
    border-radius: 0.4em;
    margin-top: $base-padding;
    margin-bottom: $base-padding;
  }
}

//TODO not an elegant solution
//likely need to remove the >div>div above
.contained-no-radius {
  border-radius: 0 !important;
  @include respond-to(medium-up) {
    border-radius: 0.4em !important;
  }   
}

.section-card_container-school {
  @extend .section-card_container;

  h1 {
    padding: 0;
  }

  > div > div {
    border: $thin-border-size solid $base-border-color;
    margin-bottom: 0;
    padding: $base-padding;
  }
}

.section-card_container-results {
  @extend .section-card_container;
  background-color: $tertiary-background-color;
}


// Home
//============================================

.section-home-start {
  @extend .centered;

  background-color: $secondary-background-color;
  color: $white;

  @include respond-to(medium-up) {
    border-radius: 0 0 $base-border-radius $base-border-radius;
    padding-bottom: 14px;

    h1 {
      @include font-size($h1);
      padding: 0;
    }

    .button-wizard {
      height: 60px;
      padding-top: 0.8em;
    }

    .section-home-start-group {
      display: table;
      width: 100%;
    }

    .section-home-start-group-left {
      display: table-cell;
      padding-right: 8px;
    }

    .section-home-start-group-right {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.section-home-facts {
  @extend .centered;

  li {
    border-bottom: $thin-border-size solid $base-border-color;
    display: inline-block;
    margin: $base-padding $base-padding-extra;
    padding-bottom: $base-padding;

    @include respond-to(tiny-up) {
      border-bottom: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  strong {
    color: $lime-green;
    display: block;

    &:first-of-type {
      @include font-size(5);
      font-weight: bold;
      line-height: 1;
    }

    &:nth-of-type(2) {
      @include font-size($h1);
      line-height: 0.9;
      padding-bottom: $base-padding-lite;
    }
  }

}

.section-home-numbers {
  @extend .centered;
  @extend .section-card_container;

  background-color: $tertiary-background-color;
  @include span-columns(12);

  @include respond-to(medium-up) {
    @include span-columns(6);
  }

  img {
    @extend .new_line;
    opacity: 0.4;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
  }

  ul {
    padding-bottom: ($base-padding + 0.5em);

    @include respond-to(tiny-up) {
      text-align: left;
    }

    li {
      padding: ($base-padding-lite + 0.1em) $base-padding-extra ($base-padding / 1.5);
      border-bottom: $thin-border-size solid $base-border-color;

      &:first-of-type {
        border-top: $thin-border-size solid $base-border-color;
      }
    }
  }

  @include respond-to(tiny-up) {
    .section-home-numbers-group {
      display: table;
      width: 100%;
    }

    .section-home-numbers-group-left {
      display: table-cell;
      padding-right: 8px;
    }

    .section-home-numbers-group-right {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.section-home-paying {
  @extend .centered;
  @extend .section-card_container;
  @include span-columns(12);
  padding-top: 0;

  > div > div {
    margin-top: 0;
  }

  @include respond-to(medium-up) {
    @include span-columns(6);
    padding-top: $base-padding;

    > div > div {
      margin-top: $base-padding;
    }
  }

  .section-home-paying-buttons {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }
}

.section-home-decision {
  @extend .centered;

  background-color: $quaternary-background-color;
  color: $white;
  padding-right: 0;
  padding-left: 0;

  h1 {
    @extend .light_on_dark;
    padding-right: $base-padding;
    padding-bottom: $base-padding;
    padding-left: $base-padding;

    @include respond-to(tiny-up) {
      padding-right: ($base-padding * 2.2);
      padding-left: ($base-padding * 2.2);
    }
  }

  video {
    background-color: $mid-gray;
    height: auto;
    width: 100%;

    @include respond-to(medium-up) {
      width: 400px;
    }
  }

  figcaption {

    h1 {
      @extend .h2;
      padding-bottom: 0;
    }
  }
}

.home-splash {
  background: url(../img/unsplash_placeholder.jpg) center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: $splash-height;
  //TODO add query that doesn't load image at small sizes
  //right now it is just covered, but still exists
}

.home-bg-gray {
  background-color: $tertiary-background-color;
}


// Search form
// For styles that are specific to 
// the home search. General form styles
// are in _forms.scss.
//============================================

.search_form {
  background-color: $white;
  border-radius: $base-border-radius $base-border-radius 0 0;
  padding-top: 0.4em;
  margin-top: -$splash-height;

  @include respond-to(medium-up) {
    margin-top: (-$splash-height + $base-padding);
    margin-right: auto;
    margin-left: auto;
    max-width: 650px;
    padding-top: $base-padding;
    padding-bottom: $base-padding;

    .large_heading {
      padding-top: $base-padding-lite;
      text-align: center;
    }
  }

  p {
    @extend .supporting_copy;
    padding-top: 0.3em;
    padding-bottom: $base-padding;

    @include respond-to(medium-up) {
      text-align: center;
    }
  }
}

.search_form-submit {
  @extend .centered;

  border-top: $thick-border-size solid $base-border-color;
  padding-top: $base-padding-large;
  text-align: center;

  a {
    padding-top: $base-padding;
  }

  div {
    // @extend .new_line;
  }
}


// Search results page
//============================================

.results {
  div.container {
    padding-bottom: $base-padding;

    h1 {
      padding-bottom: $base-padding-lite;
    }
  }
}

.results-card {
  padding: $base-padding;

  ul {
    border-bottom: $thin-border-size solid $base-border-color;
    margin-bottom: $base-padding;
    padding-bottom: $base-padding;
  }

  h1 {
    padding-top: 0;
    padding-bottom: $base-padding-lite;
  }
}

// Individual school pages
//============================================

.school-bg {
  background-color: $mid-gray;
  padding-bottom: $base-padding-extra;
}

.school-back {
  padding-top: $base-padding;
}

.school-left {
  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.school-right {
  padding-left: $base-padding;
  padding-right: $base-padding;
  @include respond-to(medium-up) {
    @include span-columns(3);
    @include omega();
    padding-left: 0;
    padding-right: 0;
    margin-top: ($base-padding-extra * 2);
  }
}

.school-section {
  h1 {
    padding-top: 0;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    font-size: font-size($h4);
    font-weight: normal;
  }

  .school-heading {
    h1 {
      padding-bottom: $base-padding-lite;
    }
    @include respond-to(medium-up) {
      @include span-columns(7 of 12);
    }
  }

  .school-key_figures {
    margin-top: $base-padding;
  }

  .school-map {
    height: 280px;
    margin-top: $base-padding;
    @include respond-to(medium-up) {
      @include span-columns(5 of 12);
      @include omega();
      margin-top: 0;
    }
  }

  .school-meters {
    @include span-columns(12 of 12);
    border-top : $regular-border-size solid $base-border-color;
    margin-top: $base-padding;
    padding-top: $base-padding;
    text-align: center;
  }

  .school-two_col {
    @include span-columns(12 of 12);
  }
}

