// Utility classes (hopefully temporary)
//============================================

.test {
  color: yellow;
}

.hidden {
  display: none;
}

.container {
  @include padded-container();
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden; 
}

.group_inline {
  display: table;
  width: 100%;
}

.group_inline-left {
  display: table-cell;
  padding-right: 8px;
}

.group_inline-right {
  display: table-cell;
  vertical-align: middle;

  .button-add {
    margin-top: 17px;
  }
}

.new_line {
  display: block;
}

.light_on_dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// Site-wide
//============================================

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

a {
  .expand, 
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}


// Sections
//============================================

.section {
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  text-align: center;

  h1 {
    padding-bottom: $base-padding-lite;
  }
}

.section-card {
  background-color: $tertiary-background-color;

  h1 {
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  > div > div {
    background-color: $white;
    border-radius: 0.4em;
    margin-top: $base-padding;
    margin-bottom: $base-padding;
  }
}


// Sections, Home
//============================================

.section-home-start {
  background-color: $secondary-background-color;
  color: $white;
}

.section-home-numbers {
  @extend .section-card;

  img {
    @extend .new_line;
    opacity: 0.4;
    margin-right: auto;
    margin-left: auto;
    width: 40px;
  }

  ul {
    padding-bottom: $base-padding-extra;

    li {
      padding: $base-padding-lite+0.2em $base-padding-extra $base-padding;
      border-bottom: $thin-border-size solid $base-border-color;

      &:first-of-type {
        border-top: $thin-border-size solid $base-border-color;
      }
    }
  }
}

.section-home-paying {
  > div > div {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }
}

.section-home-decision {
  background-color: $quaternary-background-color;
  color: $white;
  padding-right: 0;
  padding-left: 0;

  h1 {
    @extend .light_on_dark;
    padding-right: $base-padding;
    padding-bottom: $base-padding;
    padding-left: $base-padding;

    @include respond-to(tiny-up) {
      padding-right: $base-padding * 2.2;
      padding-left: $base-padding * 2.2;
    }
  }

  video {
    background-color: $mid-gray;
    height: auto;
    width: 100%;
  }

  figcaption {

    h1 {
      @extend .h2;
      padding-bottom: 0;
    }
  }
}


// Header
//============================================

header {
  color: $white;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.banner {
  background: $dark-blue;
  height: 25px;

  > div {
    @include padded-container();
    position: relative;
  } 

  a {
    @include font-size(0.70);

    color: inherit;
    font-weight: bold;
    letter-spacing: 0.4px;
    position: absolute;
    text-decoration: none;
    text-transform: uppercase;
    top: 4px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    span.ed-logo {
      background: url(../img/US-DeptOfEducation-Seal.svg);
      background-repeat: no-repeat;
      background-size: 85%;
      display: inline-block;
      height: 20px;
      margin-right: em(2);
      vertical-align: -7px;
      width: 20px;
    }
  }
}

.title {
  background: $mid-blue;
  height: 59px;
  @include respond-to(tiny-up) {
      height: 76px;
    }

  > div {
    @include padded-container();
  }

  h1 {
    @extend .title_heading;
    font-weight: 400;
    line-height: 1;
    @include respond-to(tiny-up) {
      line-height: 0.7;
    }
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}


// Footer
//============================================

footer {
  @include font-size($h6);
  background-color: #eeeeee;
  height: 60px;
  text-align: center;
  padding-top: 22px;
  @include respond-to(tiny-up) {
    @include font-size($h5);
    height: 100px;
    padding-top: 41px;
  }

  p {
    color: $dark-gray;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase;
  }
}


// Search form
// For styles that are specific to 
// the home search. General form styles
// are in _forms.scss.
//============================================

.search_form {
  padding-top: 0.4em;

  p {
    @extend .supporting_copy;
    padding-top: 0.3em;
    padding-bottom: $base-padding;
  } 
}

.search_form-submit {
  border-top: $thick-border-size solid $base-border-color;
  padding-top: $base-padding-large;
  text-align: center;

  a {
    padding-top: $base-padding;
  }

  div {
    @extend .new_line;
  }
}

// Individual school pages
//============================================

.school {
  section,
  div {
    text-align: left;
  }
}

.school-section {
  border-bottom: $regular-border-size solid $base-border-color;
}


// Search results
//============================================

.results {
  @extend .school;

  div.container {
    padding-bottom: $base-padding;

    h1 {
      padding-bottom: $base-padding-lite;
    }
  }
}

.results-card {
  padding: $base-padding;

  ul {
    border-bottom: $thin-border-size solid $base-border-color;
    margin-bottom: $base-padding;
    padding-bottom: $base-padding;
  }
}

.section-card .results-card h1 {
  padding-top: 0;
  padding-bottom: $base-padding-lite;
}







