// Utility classes (hopefully temporary)
//============================================
$pad-less: .5em;
$pad-more: 1em;
.test {
  color: yellow;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: px;
  overflow: hidden; 
}

.wrapper {
  @include clearfix;
}

.float-left {
  float: left;
}


// Site-wide
//============================================
* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

a {
  .expand, 
  .more {
    @include font-size(0.75);
    text-transform: uppercase;
  }
}

section {
  text-align: center;

  > h1 {
    padding: 0 0.6em 0.6em 0.6em;
  }

  &.standard {
    padding: $base-padding;
  }

  &.secondary {
    padding: $base-padding;
    background-color: $secondary-background-color;
    color: $white;
  }

  &.tertiary {
    background-color: $tertiary-background-color;
    padding: $base-padding 1em;

    h1 {
      padding-top: 0.6em;
    }

    > div {
      background-color: $white;
      border-radius: 0.4em;
    }

    li {
      padding: 1.1em 2.3em ;
      border-bottom: $thin-border-size solid $base-border-color;

      &:first-of-type {
        border-top: $thin-border-size solid $base-border-color;
      }
    }

    ul {
      padding-bottom: 2em;
    }
  }

  &.quaternary {
    background-color: $quaternary-background-color;
    color: $white;
    padding: $base-padding 0;

    h1 {
      padding-left: $base-padding * 2;
      padding-right: $base-padding * 2;
    }

    video {
      background-color: $mid-gray;
      height: auto;
      width: 100%;
    }

    figcaption {

      h1 {
        @extend .h2;
        padding-bottom: 0;
      }
    }
  }
}

form {
  text-align: left;

  > fieldset {

    padding: 0.6em $base-padding 1.2em $base-padding;

    > fieldset h1 {
      @extend .h3;
      font-weight: 400;
    }

    h1 {
      @extend .search_categories;
      padding-top: 0.3em;
      padding-bottom: 0.5em;
    }
  }
}



// Modules
//============================================


// Header
//--------------------------------------------

header {
  color: $white;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.banner {
  background: $dark-blue;

  > div {
    @include padded-container();
  }

  a {
    @include font-size(0.70);

    color: inherit;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;

    span.ed-logo {
      background: url(../img/US-DeptOfEducation-Seal.svg);
      background-repeat: no-repeat;
      background-size: 85%;
      display: inline-block;
      height: 20px;
      margin-right: em(2);
      vertical-align: em(-8);
      width: 20px;
    }
  }
}

.title {
  background: $mid-blue;

  > div {
    @include padded-container();
  }

  h1 {
    padding: em(12) 0;
    -webkit-font-smoothing: antialiased;
  }
}

// Footer
//--------------------------------------------

footer {
  @include font-size(0.8);
  background-color: $mid-gray;
  text-align: center;
  padding-top: $base-padding * 2;
  padding-bottom: $base-padding * 2;

  p {
    color: $black;
    text-transform: uppercase;
  }
}

// Next here
//--------------------------------------------
