// Utility classes (hopefully temporary)
//============================================
$pad-less: .5em;
$pad-more: 1em;


// Site-wide
//============================================
* {
  box-sizing: border-box;
}

a {
	.expand, 
	.more {
		@include font-size(0.75);
		text-transform: uppercase;
	}
}

header {
  color: $white;
  background: $mid-blue;
  padding: $base-padding;

  h1 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

}

section {
	padding: $base-padding;
	h1 {
		@extend .h2;
	}
}

.dark-bg {
	background-color: $mid-gray;
}



// Modules
//============================================

.banner {
  color: $white;
  background: $dark-blue;
  padding: 1em $base-padding;

  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}
