@font-face {
  font-family: "Inter", Helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
}