$base-font-family: "Inter", Helvetica, arial, sans-serif;
$header-font-family: neue-haas-grotesk-display, Helvetica, arial, sans-serif;

// Colors
$white: #ffffff;
$black: #000000; // was ##040404, but why?!?
$light-putty: #f6f6f6;
$darker-gray: #6C737C;
$dark-gray: #666666;
$mid-dark-gray: #999999;
$mid-medium-gray: #bfbfbf;
$mid-gray: #e1e1e1;
$light-gray: #eaeaea;
$lighter-gray: #eeeeee;
$light-blue: #d5dfe8;
$mid-light-blue: #1570EF;
$medium-blue: #1874dc;
$medium-dark-blue: #102E52;
$dark-blue: #00365e; // was 0e365b
$darker-blue: #092236;
$darkest-blue: #040404;
$mid-blue: #0076b7; // primary in app, was 2b6091
$lighter-blue: tint($dark-blue, 6%);
$sky-blue: #00adf2;
$sky-blue-light: #d2eefc;
$light-green: #c4dec4;
$green: #2c8511;
$darker-green: #007000; //was 216d09
$darkest-green: #174b06;
$lime-green: #77b713;
$emerald-green: #13b79e;
$yellow: #f0d704;
$lighter-yellow: #fff6d9;
$darker-yellow: #eeba28;
$light-orange: #f3ddca;
$orange: #d37c39;
$red: #d44116;
$darker-red: #b93610;
$purple: #8c57f6;
$amethyst-purple: #9384e9;
$bg-gray: #eff1f5;
$bg-blue: #026aa2;
$bg-yellow: #fffaea;
$black-transparent: rgba(0, 0, 0, 0.8);
$bg-bar-chart: #DFE6F0; 
$search-options: #292E34;
$school-green: #7BD88C;
$fos-orange: #fdb022;
$warning-color: #d16e00;


$fos-color-gold: #fdbf32;
$fos-color-yellow: #fffaeb; 
$primary-green: #027A48;
