@import "_variables.scss";
@import "_breakpoints.scss";

.v-application {
  // VUETIFY OVERRIDES
  .v-btn {
    letter-spacing: normal;
    text-transform: none;
    box-shadow: none;
  }

  .v-pagination {
    button {
      box-shadow: 0px 1px 1px #0000001a !important;
      border: 1px solid $bg-gray;
      height: auto;
      padding: 1px 4px;
    }
  }

  .v-expansion-panel-title {
    font-weight: 500;
    font-family: $header-font-family !important;
    font-size: 18px;
    line-height: 140%;
  }

  .v-card {
    overflow-wrap: normal;
    border: 1px solid #dfe6f0;
    border-radius: 6px;
  }

  .v-chip__close {
    color: $darker-green !important;
  }


  // GENERAL OVERRIDES
  font-family: $base-font-family !important;
  background-color: $bg-gray !important;

  h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family !important;
    line-height: 125% !important;
  }

  body, a {
    color: $darker-green;
  }

  hr {
    border: 1px solid #dfe6f0;
    border-bottom-style: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  footer {
    a {
      color: white !important;
    }
  }

  .title,
  .display-1,
  .display-2,
  .display-3,
  .display-4 .subtitle-1,
  .subtitle-2 {
    font-family: $header-font-family !important;
  }

  .display-2 {
    font-size: 28px !important;
    line-height: 32px !important;
  }

  .display-3 {
    font-size: 3rem !important;
    line-height: 32px !important;
  }

  .overline {
    font-size: 12px !important;
    line-height: 160% !important;
    letter-spacing: normal !important;
  }

  .sr-only {
    display: none;
  }
  
  .hover-tip {
    max-width: 270px;
  }
  
  .navy-text {
    color: $dark-blue;
  }
  
  .medium-light-blue-text {
    color: $mid-light-blue;
  }
  
  .data-na {
    padding: 0.5rem;
    border: 1px dashed $light-gray;
    color: $dark-gray;
    text-align: center;
    margin: 0.8rem 0;
  }
  
  .mini-data-na {
    padding: 0.5rem;
    color: $dark-gray;
    font-size: 0.85rem;
    border: 1px dashed $light-gray;
  }
  
  a.close-filter {
    color: #6c737c !important;
    font-size:14px;
  
    &:active, &:hover {
      color: #6c737c;
    }
  }
  
  .search-label {
    font-weight:600;
    font-size:14px;
  }
}
