@import '../../neat/neat-helpers';

$max-width: em(1230) !default;

// Breakpoints
$tiny: em(480);
$small: em(600);
$medium: em(768);
$large: em(990);
$huge: em(1230);

$tiny-down: new-breakpoint(max-width $tiny);
$tiny-up: new-breakpoint(min-width $tiny);
$small-up: new-breakpoint(min-width $small);
$medium-up: new-breakpoint(min-width $medium);
$large-up: new-breakpoint(min-width $large);
$huge-up: new-breakpoint(min-width $huge);

@mixin respond-to($media) {
  @if $media == tiny-down {
    @media only screen and (max-width: $tiny) { @content; }
  }
  @else if $media == tiny-up {
    @media only screen and (min-width: $tiny) { @content; }
  }
  @else if $media == small-up {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == large-up {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == huge-up {
    @media only screen and (min-width: $huge) { @content; }
  }
}

// Outer container with padding based on media queries

@mixin padded-container($local-max-width: $max-width) {
  @include outer-container($local-max-width);
  padding: {
    left: em(20);
    right: em(20);
  }

  @include respond-to(medium-up) {
    padding: {
      left: em(30);
      right: em(30);
    }
  }
}