.compare-bg {
  background-color: $white;
  padding-bottom: $base-padding;
}

.header-controls {

  padding: $base-padding-lite ($toggle-padding / 2) $base-padding-lite ($toggle-padding / 2);
  min-height: 55px;


  .compare-back {
    display: inline-block;
    padding-top: $base-padding-lite;

    .link-more {
      display: none;
    }

    .link-more[href] {
      display: inline-block;
    }
  }
}

.compare-schools {
  @include outer-container();
  overflow-x: auto;

}

.compare-container_group {
  position: relative;
  .average_line {
    position:absolute;
    bottom:0;
    top: 0px;
    border-right: 2px solid $black-transparent;
    width: 100%;
    z-index: 1;

    .label {
      text-align: right;
      position: absolute;
      top: -25px;
      right: -20px;
    }
  }
}

.figure-heading {
  margin: 20px auto;
}

figure.side-meter {

figcaption {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, .9);
  position: relative;
  z-index: $z-first;
  display: inline-block;

  span {
    width: 100%;
  }
}

}

.section-card_container-compare {

  position: relative;
  margin-bottom: 60px;

  .meter-wrapper {
    margin-bottom: 20px;
  }

}