// Search results page
//============================================

.results {
  background: $mid-gray;
  margin-top: 0;

  div.container {
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;

    h1 {
      padding-bottom: $base-padding-lite;
    }
  }

  @include respond-to(small-up) {
    div.container {
      padding-right: $base-padding;
      padding-left: $base-padding;
    }
  }

  @include respond-to(medium-up) {
    background: linear-gradient(
      to right,
      $white 0%,
      $white 50%,
      $mid-gray 50%,
      $mid-gray 100%
    );
  }
}

.results-main-alert {
  padding-top: $base-padding-large;
  padding-right: $base-padding;
  padding-left: $base-padding;

  .show-loaded {
    label {
      display: block;
      padding-bottom: 4px;
      padding-left: 3px;
      text-align: left;
      text-transform: uppercase;

      @include respond-to(medium-up) {
        display: table-cell;
        padding-right: 8px;
        width: 28%;
      }
    }

    > div {
      @include span-columns(12);

      @include respond-to(medium-up) {
        &:first-of-type {
          @include span-columns(8);
        }

        &:last-of-type {
          @include span-columns(4);
        }
      }
    }

    select {
      border-color: darken($mid-gray, 10%);
      display: block;
      padding-right: 50px;

      @include respond-to(medium-up) {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  @include respond-to(small-up) {
    border-bottom: $regular-border-size solid darken($mid-gray, 10%);
    padding-right: 0;
    padding-left: 0;
  }
}

.results-filter {
  background-color: $white;
  //display: none;

  .search-form-intro {
    display: none;
  }

  .results-filter-title {
    @include font-size(1.1);
    margin-top: ($base-padding-extra + $base-padding-lite);
    margin-bottom: $base-padding;
    padding-top: $base-padding;
    padding-left: $base-padding-lite;
  }

  .search_category {
    @include font-size(1.1);
  }

  @include respond-to(medium-up) {
    @include span-columns(3 of 16);
  }

  aria-accordion {
    $button-size: 28px;
    $button-margin: -3px;
    padding-right: $base-padding-lite;
    padding-bottom: $base-padding-lite;
    padding-left: $base-padding-lite;

    min-height: $button-size + ($button-margin);
    @include respond-to(tiny-up) {
      min-height: $button-size + ($button-margin);
    }

    [aria-controls]:after {
      font-size: $button-size;
      height: $button-size;
      top: $button-margin;
      width: $button-size;
    }
  }

  .search_form-submit {
    display: none;
  }

  @include respond-to(medium-up) {
    display: block;
  }
}

.results-main {
  background-color: $mid-gray;
  min-height: 900px; //TODO make this auto

  @include respond-to(medium-up) {
    @include span-columns(13 of 16);
  }
}

.results-main-schools {

  .school-info {
    font-weight: $weight-book;
    margin-bottom: $base-padding-lite;
  }

  .school-meters {
    figure.meter {
      @include span-columns(5 of 15);
      @include omega(3n);
      margin: 1px;

      figcaption {
        @include font-size(1);
      }

      h2.figure-heading {
        @include font-size(0.75);
        min-height: 54px;
        &.constrain_width {
          margin-left: -5%;
          width: 110%;
        }
      }

      picc-meter {
        height: 120px;
        width: 90%;

        // don't show labels on small meters
        .label {
          visibility: hidden;
        }
      }
    }
  }

  .link-more {
    @include span-columns(12 of 12);
    border-top: $thin-border-size solid $base-border-color;
    margin-top: $base-padding;
    padding-top: $base-padding;
  }
}

.section-card_container-results {

  .results-card {
    border-radius: 0;

    h1 {
      @include font-size(1.4);
      padding-top: 0;

      a[href] {
        color: $darkest-blue;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include respond-to(small-up) {
      border-radius: 0.4em;
    }
  }
}

.results-card {
  padding: $base-padding;

  ul {
    @include font-size(0.9);
    border-bottom: $thin-border-size solid $base-border-color;
    font-weight: bold;
    margin-bottom: $base-padding;
    padding-bottom: $base-padding;
  }

  h1 {
    padding-top: 0;
    padding-bottom: $base-padding-lite;
  }

  @include span-columns(12);
  @include omega();

  @include respond-to(small-up) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include respond-to(large-up) {
    @include omega-reset(2n);
    @include span-columns(4);
    @include omega(3n);
  }
}
