// Individual school pages
//============================================

.school-bg {
  background-color: $mid-gray;
  padding-bottom: $base-padding-extra;
}

.school-back {
  padding-top: $base-padding;
}

.school-left {
  @include respond-to(medium-up) {
    @include span-columns(9);
  }
}

.school-right {
  margin-top: $base-padding;
  padding-left: $base-padding;
  padding-right: $base-padding;

  h2 {
    padding-bottom: $base-padding;
  }

  img {
    padding-bottom: $base-padding-lite;
    width: 100%;
  }

  p {
    @extend .supporting_copy;
    padding-bottom: $base-padding-lite;
  }

  .link-more {
    display: inline-block;
    padding-top: $base-padding-lite;
  }

  @include respond-to(medium-up) {
    @include span-columns(3);
    @include omega();
    padding-left: 0;
    padding-right: 0;
    margin-top: $base-padding;

    h2 {
      @include font-size($h3);
    }
  }
}

.school-special_designation {
  margin-top: $base-padding;
}

.school-section {

  h1 {
    padding-top: 0;
  }

  .school-heading {
    h1 {
      padding-bottom: $base-padding-lite;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0;
      font-size: font-size($h4);
      font-weight: normal;
    }

    @include respond-to(medium-up) {
      @include span-columns(7 of 12);
    }
  }

  .school-key_figures {
    $height: 50px;
    margin-top: $base-padding;

    $list: urban, rural, trees, house;

    @each $icon in $list {
      .icon-#{$icon} {
        background: url(../img/school-icons/#{$icon}.png) no-repeat;
        background: url(../img/school-icons/#{$icon}.svg) no-repeat,
          linear-gradient(transparent, transparent);
        background-position: top center;
        background-size: 50px $height;
      }
    }

    li {
      @include hyphens(auto);
      display: inline-block;
      font-weight: 600;
      line-height: 1.1;
      min-height: $height;
      padding-top: ($height + 5px);
      text-align: center;
      vertical-align: top;
      width: 70px;

      .icon-year {
        //year implementation here
      }
    }
  }

  .school-map {
    height: 280px;
    margin-top: $base-padding;
    @include respond-to(medium-up) {
      @include span-columns(5 of 12);
      @include omega();
      margin-top: 0;
    }
  }

  .school-meters {
    @include span-columns(12 of 12);
    border-top : $regular-border-size solid $base-border-color;
    margin-top: $base-padding;
    padding-top: $base-padding;
    text-align: center;

    // don't show meter labels for top-level stats
    picc-meter .label {
      visibility: hidden;
    }
  }

  .school-fact_list {

    > div {
      border-top: $thin-border-size solid $base-border-color;
      padding-top: $base-padding-lite;

      &:first-of-type {
        border-top: none;
        padding-top: 0;
      }
    }

    img {
      opacity: $icon-opacity;
      width: 40px;
    }

    ul {
      padding-bottom: $base-padding;
    }

    
  }

  .fact_number {
    @include font-size(3.5);
    padding: {
      top: 8px;
      bottom: 8px;
    }

    span {
      font-weight: normal;
    }
  }

  .button-primary {
    width: 100%;
    // @include respond-to(tiny-up) {
    //   width: 300px;
    // }
  }

  .school-two_col {

    p {
      padding-top: $base-padding-lite;
      padding-bottom: $base-padding;
      text-align: left;

      + ul {
        margin-top: -$base-padding-lite;
      }

      @include respond-to(medium-up) {
        padding-top: em(3);
      }
    }

    @include span-columns(12 of 12);
  }

  .school-two_col-left {
    padding-top: $base-padding;

    @include span-columns(6 of 6);
    @include respond-to(large-up) {
      @include span-columns(3 of 6);
    }
  }

  .school-two_col-right {
    padding-top: $base-padding;

    @include span-columns(6 of 6);
    @include respond-to(large-up) {
      @include span-columns(3 of 6);
      @include omega();
    }
  }
}

.school-table {
  width: 100%;

  td, th {
    padding: em(5);
    text-align: left;
  }

  tr {
    border-bottom: $thin-border-size solid $base-border-color;
  }

  td:last-of-type {
    font-weight: 700;
  }

}

.school-long_list {
  border-top: $thin-border-size solid $base-border-color;
  height: 375px;
  margin-top: $base-padding-lite;
  overflow-y: scroll;

  li {
    border-bottom: $thin-border-size solid $base-border-color;
    padding: em(5);
  }
}

.school-programs {
  @extend .key_fact;
  padding-top: $base-padding;
}

.school-academics-fact {
  @extend .centered;
  padding-bottom: $base-padding;

  .group_inline-left {
    border: $regular-border-size solid $base-border-color;
    border-radius: 50%;
    display: inline-block;
    padding: 13px;
    height: 102px;
    width: 102px;

  }

  .group_inline-right {
    display: inline-block;
    margin-left: 10px;
    text-align: left;
    vertical-align: -5px;
    width: 100px;
  }
}

.school-callout {
  background-color: $sky-blue-light;
  border-radius: $base-border-radius;
  padding-bottom: $base-padding;
}

.above_is_good .average.above_average,
.below_is_good .average.below_average {
  color: $green;
}

.above_is_good .average.below_average,
.below_is_good .average.above_average {
  color: $red;
}

.average.about_average {
  color: $mid-blue;
}

.average-label {
  font-size: .5em;
  font-weight: normal;
}

.school-student-intro {
  @include span-columns(12);
  border-bottom: $thin-border-size solid $base-border-color;
  display: inline-block;
  padding-bottom: $base-padding;
  text-align: center;

  ul.school-key_figures li {
    margin-right: 10px;
  }

  li.school-key_figures-stat {
    padding-top: 0;
    width: auto;

    p {
      @include font-size(1.3);
      line-height: 1.1;
      padding-bottom: 0;
      width: 70%;
    }
  }
}

.school-student-figures {
  @include span-columns(12);
  border-bottom: $thin-border-size solid $base-border-color;
  padding-top: $base-padding;
  padding-bottom: $base-padding;
  height: 200px;
}

.school-student-stats {

  h2 {
    padding-bottom: $base-padding-lite;
  }

  @include span-columns(12);
}

.school-student-stats-col {

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  .fact_number {
    @include font-size(3);
    padding-bottom: 0;

    span {
      @include font-size(1.8);
    }

    &.divide {
      @include font-size(4.2);
      color: darken($mid-gray, 10%);
      margin-right: 5px;
      margin-left: -5px;
    }
  }

  @include span-columns(12);
  @include omega();

  @include respond-to(large-up) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }
}

.school-section .school-two_col .school-student-stats-col-p {
  line-height: 1.1;
  padding-top: 10px;
  padding-bottom: 0;
}

