.guide {
  padding-top: $base-padding;
  padding-bottom: $base-padding-extra;
  text-align: left;

  h1, h2, h3, h4 {
    padding-top: 0.7em;
  }

  // h2 a {
  //   color: $green;
  //
  //   &:hover,
  //   &:focus {
  //     color: $darker-green;
  //     text-decoration: none;
  //   }
  // }

  > section {
    margin-top: $base-padding-extra;
    text-align: left;

    > h1 {
      @extend .h4;
      padding: 0 0 1em 0;
      text-transform: uppercase;
    }
  }
}

.guide-container {
  @include padded-container(em(1400));
}

.guide-typography {
  @include span-columns(12);

  @include respond-to(huge-up) {
    @include span-columns(4);
  }

  .link-expand,
  .link-more {

    &:first-of-type {
      display: block;
      margin-top: 2.2em;
    }
  }

  .link-expand-hover,
  .link-more-hover {
    color: $darker-green;
  }

  p {
    padding-top: 0.7em;
  }

  &:last-of-type {
    @include omega();
  }

  + .wide {
    @include span-columns(12);
    padding-top: $base-padding;

    @include respond-to(huge-up) {
      @include span-columns(8);
      padding-top: 0;
    }
  }
}

.guide-color {
  @include span-columns(12);

  > ul {
    margin-bottom: 10px;

    li {
      color: $white;
      display: inline-block;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      width: 220px;

      &:nth-of-type(1) {
        background-color: $black;
      }

      &:nth-of-type(2) {
        background-color: $dark-gray;
      }

      &:nth-of-type(3) {
        background-color: $mid-gray;
        color: $black;
      }

      &:nth-of-type(4) {
        background-color: $white;
        border: 1px solid $mid-gray;
        color: $black;
      }
    }
  }

  > ul.second-row li {

    &:nth-of-type(1) {
      background-color: $dark-blue;
    }

    &:nth-of-type(2) {
      background-color: $mid-blue;
    }

    &:nth-of-type(3) {
      color: $white;
      background-color: $green;
    }

    &:nth-of-type(4) {
      background-color: $yellow;
      border: none;
    }
  }
}

.guide-buttons {
  @include span-columns(3);
  text-align: center;

  > h1 {
    @extend .h4;
    color: $dark-gray;
    padding-bottom: 1.2em;
    text-transform: uppercase;
  }

  .button-primary-hover {
    background-color: $hover-button-color;
    color: $white;
  }

  .button-secondary-hover {
    background-color: $secondary-hover-button-color;
    color: $black;
  }

  .button-compare-hover {

  }

  .button-wizard-hover {
    box-shadow: 0 0 0 2px $white;
  }

  .wizard-bg {
    background-color: $dark-blue;
    padding-top: 0.6em;
  }
}

.guide-forms {
  @include span-columns(4);
  @include omega(3n);
}
