// Layout
#search-param-container{
  padding-right: 12px;
}

#search-can-query-text{
  height:100%;
}

#search-can-query-items-wrapper{
  height:100%;
}

#search-result-info-container{
  padding: 1rem 2rem;
}
