@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 200;
  src: url('public-sans/PublicSans-Thin.eot');
  src: url('public-sans/PublicSans-Thin.woff2') format('woff2'),
       url('public-sans/PublicSans-Thin.woff') format('woff'),
       url('public-sans/PublicSans-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('public-sans/PublicSans-Regular.eot');
  src: url('public-sans/PublicSans-Regular.woff2') format('woff2'),
       url('public-sans/PublicSans-Regular.woff') format('woff'),
       url('public-sans/PublicSans-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('public-sans/PublicSans-Bold.eot');
  src: url('public-sans/PublicSans-Bold.woff2') format('woff2'),
       url('public-sans/PublicSans-Bold.woff') format('woff'),
       url('public-sans/PublicSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight:700;
  src: url('montserrat/Montserrat-Bold.eot');
  src: url('montserrat/Montserrat-Bold.woff2') format('woff2'),
       url('montserrat/Montserrat-Bold.woff') format('woff'),
       url('montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('montserrat/Montserrat-Regular.eot');
  src: url('montserrat/Montserrat-Regular.woff2') format('woff2'),
       url('montserrat/Montserrat-Regular.woff') format('woff'),
       url('montserrat/Montserrat-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('montserrat/Montserrat-Medium.eot');
  src: url('montserrat/Montserrat-Medium.woff2') format('woff2'),
       url('montserrat/Montserrat-Medium.woff') format('woff'),
       url('montserrat/Montserrat-Medium.ttf') format('truetype');

}
