.group_inline {
  display: table;
  width: 100%;
}

.group_inline-left {
  display: table-cell;
  padding-right: 8px;
}

.group_inline-right {
  display: table-cell;
  vertical-align: middle;

  .button-add {
    margin-top: 17px;
  }
}