<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body data-env="{{ site.branch }}">
    {% include header.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    {% include glossary.html %}

    {% for script in page.body_scripts %}
    <script src="{{ site.baseurl }}/js/{{ script }}" data-src="{{ script }}"></script>
    {% endfor %}
    <script src="{{ site.baseurl }}/js/picc-analytics.js"></script>
    <script src="{{ site.baseurl }}/js/picc-dap.js"></script>
  </body>
</html>
