---
title: School
layout: default
permalink: /school/
scripts:
  - vendor/tagalong.min.js
  - vendor/leaflet.js
stylesheets:
  - vendor/leaflet.css
body_scripts:
  - school.js

defaults:
  median_earnings:
    max: 150000
---

<section id="error" class="container hidden">
  <h2>Error</h2>
  <p class="error-message"></p>
  <form target="../search/" method="GET">
    <label for="name-school" >Try searching for a school by name:</h2>
    <input id="name-school" name="name" type="text" placeholder="Name of School" autocomplete="off" autocorrect="off" autocapitalize="off">
    <input type="submit" value="Search" class="button-primary">
  </form>
</section>

<!-- Search results -->
<div class="school-bg">

  <div class="container school-back">
    <a href="#" class="link-more"><i class="fa fa-chevron-left"></i> Back to search results</a>
  </div>

  <div class="container container-collapse section-card_container-school">

    <div id="school" class="school-left school-section">

      <div class="container section contained-no-radius">

        <div class="school-heading">
          <h1 class="name">School Name</h1>

          <h2 class="location">
            <span data-bind="city">City</span>,
            <span data-bind="state">State</span>
          </h2>

          <h2 class="population">
            <span data-bind="size_number">X</span> students
          </h2>

          <ul class="school-key_figures key-figures">
            <li class="years icon-year">
              <b data-bind="years">X</b>
              <span>Years</span>
            </li>
            <li class="public-private icon-urban">
              <span data-bind="control">Public</span>
            </li>
            <li class="setting icon-rural">
              <span data-bind="locale_name">Urban</span>
            </li>
            <li class="population icon-house">
              <span data-bind="size_category">Small</span>
            </li>
          </ul>

          <ul class="school-special_designation" data-bind="special_designations">
            <li class="special"></li>
          </ul>

          <!-- <h3 class="special" data-bind="special_designation">
            Special Designation
          </h3> -->
        </div>

        <div class="school-map" data-bind="map">
        </div>

        <div id="key-stats" class="school-meters">
          <figure class="meter below_is_good">
            <h2 class="figure-heading constrain_width">Average Cost Per Year</h2>
            <picc-meter {% include net_price_meter_attributes.html %}>
            </picc-meter>
            <figcaption>
              <span data-bind="average_cost">$XX,XXX</span>
            </figcaption>
          </figure>

          <figure class="meter above_is_good">
            <h2 class="figure-heading constrain_width">Graduation Rate</h2>
            <picc-meter {% include graduation_meter_attributes.html %}>
            </picc-meter>
            <figcaption>
              <span data-bind="grad_rate">XX%</span>
            </figcaption>
          </figure>

          <figure class="meter above_is_good">
            <h2 class="figure-heading constrain_width">Average Salary</h2>
            <picc-meter {% include earnings_meter_attributes.html %}>
            </picc-meter>
            <figcaption>
              <span data-bind="average_salary">$XX,XXX</span>
            </figcaption>
          </figure>
        </div>

        <div class="section-card_container-school">

          <div id="cost" class="picc-accordion school-two_col">

            <div>

              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="costs-content">
                  Costs
                </a>
              </h1>

              <div id="costs-content" aria-hidden="true">

                <div class="school-two_col-left centered">

                  <figure class="meter below_is_good">
                    <h2 class="figure-heading">Average Net Price</h2>
                    <picc-meter id="cost-meter" {% include net_price_meter_attributes.html %}>
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="cost-meter"></i>
                      <span data-bind="average_cost"></span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>
                  <!--
                  <p>Assumes <strong>$XX,XXX</strong> in tuition and fees, <strong>$X,XXX</strong> in other costs like room and board, books and supplies, and other personal expenses.</p>
                  -->
                </div>

                <div class="school-two_col-right">
                  <h2>By Family Income</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  
                  <table class="school-table">
                    <thead>
                      <tr>
                        <th>Family Income</th>
                        <th>Average Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>$0-$30,000</td>
                        <td data-bind="net_price_income1">$X,XXX</td>
                      </tr>
                      <tr>
                        <td>$30,001-$48,000</td>
                        <td data-bind="net_price_income2">$XX,XXX</td>
                      </tr>
                      <tr>
                        <td>$48,001-$75,000</td>
                        <td data-bind="net_price_income3">$XX,XXX</td>
                      </tr>
                      <tr>
                        <td>$75,001-$110,000</td>
                        <td data-bind="net_price_income4">$XX,XXX</td>
                      </tr>
                      <tr>
                        <td>$110,001+</td>
                        <td data-bind="net_price_income5">$XX,XXX</td>
                      </tr>
                    </tbody>
                  </table>

                </div>

              </div>

            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div id="finaid" class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="finaid-content">
                  Financial Aid &amp; Debt
                </a>
              </h1>

              <div id="finaid-content" aria-hidden="true">

                <div class="school-two_col-left centered">

                  <figure class="meter above_is_good">
                    <h2 class="figure-heading">Students Repaying<br>Loans on Time</h2>
                    <picc-meter id="repayment-meter"
                      class="debt"
                      data-bind="repayment_rate_meter"
                      max="1"
                      data-median="{{ site.data.national_stats.repayment_rate.median }}">
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="repayment-meter"></i>
                      <span data-bind="repayment_rate_percent">XX%</span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>

                  <div class="container school-callout">

                    <h2>Get Help Paying for College</h2>
                    <p>Submit a free application for Federal Student Aid. It only takes 20 minutes!</p>
                    <button class="button button-primary">
                      Start My Application
                    </button>

                  </div>

                </div>

                <div class="school-two_col-right school-fact_list">

                  <div>
                    <h2>Average Total Debt</h2>
                    <strong class="fact_number" data-bind="average_total_debt">$XX,XXX</strong>
                    <p>For those students who graduated</p>
                  </div>

                  <div>
                    <h2>Average Monthly Loan Payment</h2>
                    <strong class="fact_number" data-bind="average_monthly_loan_payment">$XXX<span>/mo</span></strong>

                    <!--
                    <p>This is about equal to:</p>
                    <ul class="group_inline" data-bind="loan_payment_equivalents">
                      <li>
                        <div class="group_inline-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
                        <div class="group_inline-right" data-bind="text">
                          XX% of a graduate's monthly salary
                        </div>
                      </li>
                      <li>
                        <div class="group_inline-left"><img src="{{ site.baseurl }}/img/education.svg" alt= class="school-callout""Education"></div>
                        <div class="group_inline-right">X months' car payments</div>
                      </li>
                      <li>
                        <div class="group_inline-left"><img src="{{ site.baseurl }}/img/education.svg" alt="Education"></div>
                        <div class="group_inline-right">XX% of a month's rent</div>
                      </li>
                    </ul>
                    -->
                  </div>

                  <div>
                    <h2>Students Receiving Federal Aid</h2>
                    <strong class="fact_number" data-bind="federal_aid_percentage">XX%</strong>
                    <p>Brief explanation of what federal aid is and means. Nunc eu consectutur purus.</p>
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div id="graduation" class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="graduation-content">
                  Graduation &amp; Retention
                </a>
              </h1>

              <div id="graduation-content" aria-hidden="true">

                <div class="school-two_col-left centered">
                  <figure class="meter above_is_good">
                    <h2 class="figure-heading constrain_width">Graduation Rate</h2>
                    <picc-meter id="grad-meter" {% include graduation_meter_attributes.html %}>
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="grad-meter"></i>
                      <span data-bind="grad_rate">60%</span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>
                </div>

                <div class="school-two_col-right centered">
                  <figure class="meter above_is_good">
                    <h2 class="figure-heading">Students Who<br>Return Each Year</h2>
                    <picc-meter id="retention-meter"
                      class="graduation"
                      data-bind="retention_rate_meter"
                      about-threshold=".03"
                      max="1"
                      average="{{ site.data.national_stats.retention_rate.median }}">
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="retention-meter"></i>
                      <span data-bind="retention_rate_value">XX%</span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div id="earnings" class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="earnings-content">
                  Earnings
                </a>
              </h1>

              <div id="earnings-content" aria-hidden="true">
                <div class="school-two_col-left centered">
                  <figure class="meter above_is_good">
                    <h2 class="figure-heading">Average Salary <br>After Leaving School</h2>
                    <picc-meter id="salary-meter" {% include earnings_meter_attributes.html %}>
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="salary-meter"></i>
                      <span data-bind="average_salary">$XX,XXX</span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>
                </div>

                <div class="school-two_col-right centered">
                  <figure class="meter above_is_good">
                    <h2 class="figure-heading">Former Students <br>Earning More Than $25K</h2>
                    <picc-meter class="earnings"
                      id="earn25k-meter"
                      data-bind="earnings_gt_25k_meter"
                      max="1"
                      average=".6">
                    </picc-meter>
                    <figcaption>
                      <i class="fa average average-arrow" data-meter="earn25k-meter"></i>
                      <span data-bind="earnings_gt_25k">XX%</span>
                      <div class="average average-label"></div>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="student-content">
                  Student Body
                </a>
              </h1>

              <div id="student-content" aria-hidden="true">
                
                <div class="school-student-intro">

                  <ul class="school-key_figures key-figures">
                    <li class="public-private icon-urban">
                      <span data-bind="control">Small</span>
                    </li>
                    <li class="school-key_figures-stat">
                      <div class="group_inline">
                        <div class="group_inline-left fact_number">2,716</div>
                        <div class="group_inline-right"><p>undergraduate students</p></div>
                      </div>
                    </li>
                  </ul>

                </div>

                <div class="school-student-figures">
                  <p>This is where the pie charts will go.</p>
                </div>

                <div class="school-student-stats">
                  <h2>Other Demographics</h2>

                  <div class="school-student-stats-col">
                    <div>
                      <span class="fact_number">90<span>%</span></span> Full-time
                    </div>
                    <div class="fact_number divide">/</div>
                    <div>
                      <span class="fact_number">10<span>%</span></span> Part-time
                    </div>
                  </div>

                  <div class="school-student-stats-col">
                    <div class="group_inline">
                      <div class="group_inline-left"><span class="fact_number">18</span></div>
                      <div class="group_inline-right"><p class="school-student-stats-col-p">Average age at enrollment</p></div>
                    </div>
                  </div>

                  <div class="school-student-stats-col">
                    <!-- Placeholder for future stats -->
                  </div>

                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="selectivity-content">
                  Selectivity
                </a>
              </h1>

              <div id="selectivity-content" aria-hidden="true">
                <div class="school-two_col-left centered">
                  <h2>Acceptance Rate</h2>
                  <strong class="fact_number">Somewhat Selective</strong>
                  <p>[chart here]</p>
                </div>

                <div class="school-two_col-right">

                  <h2>Test Scores</h2>
                  <p>Students who were admitted typically had standardized test score in these ranges.</p>

                  <h3 class="h2">SAT</h3>
                  <picc-range min="0" max="2400" lower="840" upper="1820" middle="1105">
                  </picc-range>

                  <h3 class="h2">ACT</h3>
                  <picc-range min="1" max="36" lower="19" upper="25" middle="22">
                  </picc-range>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section-card_container-school">
          <div id="academics" class="picc-accordion school-two_col">
            <div>
              <h1 class="search_category">
                <a aria-expanded="false" aria-controls="academics-content">
                  Academics
                </a>
              </h1>

              <div id="academics-content" aria-hidden="true">
                <div class="school-two_col-left">

                  <div class="school-academics-fact group_inline">
                    <div class="group_inline-left"><strong class="fact_number" data-bind="num_available_programs">X</strong></div>
                    <div class="group_inline-right"><h2>Programs Offered</h2></div>
                  </div>
                  
                  <h2>Most Popular Programs</h2>
                  <ol class="decimal school-programs" data-bind="popular_programs">
                    <li><span class="program"></span> (<span class="percent"></span>)</li>
                  </ol>
                </div>

                <div class="school-two_col-right">
                
                  <h2>Available Areas of Study</h2>
                  <ul class="school-long_list" data-bind="available_programs">
                    <li><span class="program">Management</span></li>
                  </ul>
                
                </div>
              </div>
            </div>
          </div>
        </div>

        

      </div>

    </div> <!-- END school card-->

    <aside class="school-right">

      <h2>Paying for College</h2>

      <img src="{{ site.baseurl }}/img/cfpb-logo.png" alt="consumer finance protection bureau">

      <p>Get help to make informed financial decisions about how to pay for college. Start by comparing financial aid offers or understanding student loan repayment options.</p>

      <a href="http://www.consumerfinance.gov/paying-for-college/" class="link-more">Go to the consumer finance protection bureau <i class="fa fa-chevron-right"></i></a>

    </aside>

  </div>

</div>


<!--
<section>
  {# include search-form.html #}
</section>
-->
