// Import all base styles here so they can be imported as a
// nice, clean chunk in css/styles.scss

// Variables
@import 'variables';

// Elements
@import 'elements';

// Mixins
@import 'mixins/font-size';
@import 'mixins/grid-settings';
@import 'mixins/loadable-state-display';

// Extends
@import 'extends/buttons';
@import 'extends/centered';

//Utility
@import 'utility';

// Typography and fonts
@import 'fonts';
@import 'typography';

// Components
@import 'components/buttons';
@import 'components/figures';
@import 'components/forms';
@import 'components/loadable';
@import 'components/aria-accordion';
@import 'components/combo-box';
@import 'components/picc-meter';
@import 'components/picc-range';
@import 'components/picc-slider';
@import 'components/sections';

// Blocks
@import 'blocks/data-home';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/home';
@import 'blocks/results';
@import 'blocks/school';
@import 'blocks/styleguide';

// Web Components
// @import 'components/components';
