button,
input[type="submit"] {
  @extend %button;
  @include appearance(none);
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;

  &.secondary {
    background-color: $secondary-button-color;
    padding: $secondary-button-padding;

    &:hover {
      background-color: $secondary-hover-button-color;
    }
  }

  &.compare {
    border-radius: 0;
    padding: $secondary-button-padding;
  }

  &.wizard {
    background-color: transparent;
    border: 1px solid $white;
    margin-top: 0.8em;
    margin-bottom: 0.4em;
    padding: .75em;

    &:hover {
      background-color: $lighter-blue;
    }
  }

}