fieldset {
  border-top: $regular-border-size solid $base-border-color;

  > fieldset {
    border-top: none;
  }
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
}

input,
select {
  @include font-size(1);
  @include placeholder {
    color: $form-input-color;
  }
}

label {
  font-weight: bold;
  margin-bottom: $base-line-height / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select[multiple=multiple] {
  @include box-sizing(border-box);
  @include font-size(1);
  @include transition(border-color);
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  font-family: $form-font-family;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  @include appearance(none);
}

label.checkbox {
  display: inline-block;
  font-weight: 400;

  input[type="checkbox"] + span {
    border: 1px solid $dark-gray;
    border-radius: $form-border-radius;
    display: inline-block;
    height: 20px;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: -4px;
    width: 20px;
  }
}

label.checkbox :checked + span {
  background-color: $green;
  vertical-align: -4px;

  &::after {
    color: $white;
    content:"✓";
    font-weight: 600;
    margin-left: 3px;
  }
}

input[type="checkbox"],
input[type="radio"] {
  @include appearance(none);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: -4px;

  // to hide checkbox from visual but display to screenreaders
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &:focus {
    + .checkbox-focus {
      border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed;
      outline: none;
    }
  }
}

input[type="radio"] {
  border-radius: 500px;
}

input[type="file"] {
  margin-bottom: $base-line-height / 2;
  padding-bottom: ($base-line-height / 3);
  width: 100%;
}

select {
  @include appearance(none);
  height: 3rem;
  width: auto;
  max-width: 100%;
  background-image: url('../img/angle-down.png'); // Fallback in case no svg background
  //background-image: url('../img/angle-down.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 2rem;
  background-color: #fff;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  color: $dark-gray;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0 4rem 0 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:focus {
    outline: 3px solid $green;
  }

  &::-ms-expand {
    display: none;
  }
}
