@import '../neat/neat-helpers';

$max-width: em(960);

// Neat Breakpoints
$tiny: 30em;
$small: 37.5em;
$medium: 48em;
$large: 61.875em;
$huge: 78.125em;

$tiny-down: new-breakpoint(max-width $tiny);
$tiny-up: new-breakpoint(min-width $tiny);
$small-up: new-breakpoint(min-width $small);
$medium-up: new-breakpoint(min-width $medium);
$large-up: new-breakpoint(min-width $large);
$huge-up: new-breakpoint(min-width $huge);

@mixin respond-to($media) {
  @if $media == tiny-down {
    @media only screen and (max-width: $tiny) { @content; }
  }
  @else if $media == tiny-up {
    @media only screen and (min-width: $tiny) { @content; }
  }
  @else if $media == small-up {
    @media only screen and (min-width: $small) { @content; }
  }
  @else if $media == medium-up {
    @media only screen and (min-width: $medium) { @content; }
  }
  @else if $media == large-up {
    @media only screen and (min-width: $large) { @content; }
  }
  @else if $media == huge-up {
    @media only screen and (min-width: $huge) { @content; }
  }
}