// // Ensures .1 rem unit equals 1px
// html {
//   font-size: 62.5%;
// }

body {
  color: $base-font-color;
  font-size: font-size($base-font-size);
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

.light_on_dark {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Typeographic multipliers, base 16
$h1-huge: 2.625; //42px
$h1-large: 1.75; //28px
$h1: 1.5; //24px
$h2: 1.313; //21px
$h3: 1.125; //18px
$h4: 1; //16px
$h5: 0.875; //14px
$h6: 0.75; //12px

// Heading styles
h1, h2, h3, h4
.h1, .h2, .h3, .h4 {
  font-family: $header-font-family;
  font-weight: 700;
  line-height: $base-heading-line-height;
  margin: 0;
  padding-top: 0.7em; 
  text-rendering: optimizeLegibility;
  // ^^ Fix character spacing for headings
  // by enabling ligatures in text smaller than 20px
  // if they are available in the font
}

// Classes for use with @extend
h1,
.h1 {
  @include font-size($h1);

  @include respond-to(tiny-up) {
    @include font-size($h1-large);
  }
}

h2,
.h2 {
  @include font-size($h2);

  @include respond-to(tiny-up) {
    @include font-size($h1);
  }
}

h3,
.h3 {
  @include font-size($h3);
}

h4,
.h4 {
  @include font-size($h4);
}

// Buttons

button {
  @include font-size($h3);
  font-family: $base-font-family;
  font-weight: bold;
  letter-spacing: 3.6px;

  &.button-secondary,
  &.button-compare {
    @include font-size($h6);
    letter-spacing: 2px;
  }

  &.button-wizard {
    @include font-size(0.875);
    letter-spacing: 2px;
    line-height: 18px;
  }
}

// Other type

.title_heading {
  @include font-size($h1);

  @include respond-to(tiny-up) {
    @include font-size(2.25);
  }
}

.large_heading {
  @include respond-to(medium-up) {
    @include font-size($h1-huge);
  }
}

.search_category {
  @include font-size($h1);
  font-weight: 400;
  padding-top: 0.45em;

  @include respond-to(tiny-up) {
    @include font-size($h1-large);
  }
}

.key_fact {
  @include font-size($h3);
  font-weight: 400;
}

.supporting_copy {
  @include font-size(0.875);
}

.nested_fieldset {
  border-top: none;

  h1 {
    @include font-size($h3);
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

.link-expand,
.link-more {
  @extend .light_on_dark;
  @include font-size($h6);
  color: $green;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $darker-green;
  }
}

.special {
  background-color: #f6e768;
  display: inline-block;
  line-height: 0.8;
  margin-top: $base-padding;
  padding: 0.2em;
  text-transform: uppercase;
}
