// // Ensures .1 rem unit equals 1px
// html {
//   font-size: 62.5%;
// }

body {
  color: $base-font-color;
  font-size: font-size($base-font-size);
  font-family: $base-font-family;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
}

// Typeographic multipliers, base 16
$h1: 1.5;
$h2: 1.313;
$h3: 1.125;
$h4: 1;

// Heading styles
h1, h2, h3, h4
.h1, .h2, .h3, .h4 {
  font-family: $header-font-family;
  font-weight: 700;
  line-height: $base-heading-line-height;
  margin: 0;
  padding-top: 0.7em; 
  text-rendering: optimizeLegibility;
  // ^^ Fix character spacing for headings
  // by enabling ligatures in text smaller than 20px
  // if they are available in the font
}

// Classes for use with @extend
h1,
.h1 {
  @include font-size($h1);
}

h2,
.h2 {
  @include font-size($h2);
}

h3,
.h3 {
  @include font-size($h3);
}

h4,
.h4 {
  @include font-size($h4);
}

// Buttons

button {
  @include font-size(1.125);
  font-family: $base-font-family;
  font-weight: bold;
  letter-spacing: 3.6px;

  &.button-secondary,
  &.button-compare {
    @include font-size(1);
    letter-spacing: 2px;
  }

  &.button-wizard {
    @include font-size(0.875);
    letter-spacing: 2px;
    line-height: 18px;
  }
}

// Other type

.title_heading {
  @include font-size(2.25);
}

.search_category {
  @include font-size($h1);
  font-weight: 400;
  margin-bottom: 0.3em;
}

.key_fact {
  @include font-size($h3);
  font-weight: 400;
}

.supporting_copy {
  @include font-size(0.875);
}

.nested_fieldset {
  border-top: none;

  h1 {
    @include font-size($h3);
    font-weight: 400;
    margin-bottom: 0.5em;
  }
}

.link-expand,
.link-more {
  @include font-size(0.75);
  color: $green;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: $darker-green;
  }
}
