@import "../font-awesome/font-awesome/variables";

// Typography
$sans-serif: Montserrat, "Helvetica Neue", Helvetica, arial, sans-serif;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$base-font-weight: normal;

// Sizes
$base-font-size: 1;
$base-line-height: 1.5;
$base-heading-line-height: 1.3;

// Colors
$white: #ffffff;
$black: #040404;
$light-putty: #f6f6f6;
$dark-gray: #666666;
$mid-gray: #e1e1e1;
$light-gray: #eaeaea;
$light-blue: #d5dfe8;
$dark-blue: #0e365b;
$darker-blue: #092236;
$darkest-blue: #040404;
$mid-blue: #2b6091;
$lighter-blue: tint($dark-blue, 6%);
$sky-blue: #00adf2;
$sky-blue-light: #d2eefc;
$green: #2c8511;
$darker-green: #216d09;
$darkest-green: #174b06;
$lime-green: #77b713;
$emerald-green: #13b79e;
$yellow: #f0d704;
$darker-yellow: #eeba28;
$red: #d44116;
$darker-red: #b93610;
$purple: #5c48c9;
$amethyst-purple: #9384e9;

$meter-colors: (
  cost: $lime-green,
  graduation: $purple,
  earnings: $sky-blue,
  acceptance: $emerald-green,
  retention: $amethyst-purple,
  debt: $amethyst-purple
);

// Background Color
$secondary-background-color: $dark-blue;
$tertiary-background-color: $mid-gray;
$quaternary-background-color: $mid-blue;

// Font Colors
$base-font-color: $black;
$base-accent-color: $mid-blue;

// Padding
$base-padding: 1.25em; //20px
$base-padding-lite: $base-padding/3;
$base-padding-large: 1.875em; //30px
$base-padding-extra: 3.125em; //50px

// Link Colors
$base-link-color: $green;
$hover-link-color: $darker-green;

// Buttons
$base-button-color: $green;
$hover-button-color: $darker-green;
$secondary-button-color: $yellow;
$secondary-hover-button-color: $darker-yellow;
$base-button-padding: .85em 2.1em;
$secondary-button-padding: .7em 2.1em;

// Radius
$base-border-radius: 2px;

// Border
$base-border-color: $mid-gray;
$thin-border-size: 1px;
$regular-border-size: 3px;
$thick-border-size: 8px;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-radius: $base-border-radius;
$form-box-shadow: none;
$form-box-shadow-focus: 0 0 0 2px $mid-blue;
$form-font-family: $base-font-family;
$form-input-color: $dark-gray;

// Loadable states
$loadable-states: (loading, loaded, error);

// Splash
$splash-height: 37em;

// Icons
$icon-opacity: 0.4;
