// Typography
$sans-serif: Montserrat, "Helvetica Neue", Helvetica, arial, sans-serif;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;
$base-font-weight: normal;

// Sizes
$base-font-size: 1;
$base-line-height: 1.5;
$base-heading-line-height: 1.3;

// Colors
$white: #ffffff;
$black: #040404;
$dark-gray: #666666;
$mid-gray: #e1e1e1;
$dark-blue: #0e365b;
$mid-blue: #2b6091;
$lighter-blue: tint($dark-blue, 6%);
$green: #2c8511;
$darker-green: #216d09;
$darkest-green: #174b06;
$yellow: #f0d704;
$darker-yellow: #eeba28;
$red: #d44116;
$darker-red: #b93610;

// Background Color
$secondary-background-color: $dark-blue;
$tertiary-background-color: $mid-gray;
$quaternary-background-color: $mid-blue;

// Font Colors
$base-font-color: $black;
$base-accent-color: $mid-blue;

// Padding
$base-padding: 1.8em;

// Link Colors
$base-link-color: $green;
$hover-link-color: $darker-green;

// Buttons
$base-button-color: $green;
$hover-button-color: $darker-green;
$secondary-button-color: $yellow;
$secondary-hover-button-color: $darker-yellow;
$base-button-padding: .85em 2.1em;
$secondary-button-padding: .7em 2.1em;

// Radius
$base-border-radius: 3px;

// Border
$base-border-color: $mid-gray;
$thin-border-size: 1px;
$regular-border-size: 3px;
$thick-border-size: 8px;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-family: $base-font-family;
$form-input-color: $dark-gray;
