---
title: Compare Schools | College Scorecard
layout: default
permalink: /compare/
---

<div class="compare-bg loadable">

    <div class="toggles compare-toggles">

        <div class="header-controls container">

            <div class="container compare-back">
                <a id="referrer-link" class="link-more" href="../search/">
                    <i class="fa fa-chevron-left"></i> Back to search results
                </a>
            </div>

            <aria-accordion id="compare_schools-edit" class="toggle-accordion" aria-hidden="true">
                <div class="toggle-control">
                    <legend>Compare</legend>
                    <h1 class="search_category">
                        <button type="button" aria-expanded="false" aria-controls="compare_schools-content">
                            <i class="fa fa-star"></i>Compare<i class="fa fa-chevron-down"></i>
                        </button>
                    </h1>
                </div>

                <div id="compare_schools-content" aria-hidden="true" class="toggle-content toggle-content-compare_schools">

                    {% include edit-compare_highlight.html %}

                </div>

            </aria-accordion>

        </div>

    </div>

    <section class="section compare-schools">

        <div class="container">

            <div class="compare-main-alert">

                <div class="show-error">
                    <h2>Something went wrong:</h2>
                    <p class="error-message"></p>
                </div>

            </div>

            <div class="schools-compare_selected-list default-meters show-loaded">

                <div class="school-share-wrapper">
                    <a data-href="mailto:?subject=Take%20a%20look%20at%20these%20schools&amp;body=I%20found%20this%20on%20collegescorecard.ed.gov.%20Take%20a%20look%3A%0A%0A{url}" class="school-share" data-bind="compare_link">Share this comparison</a>
                </div>

                <h2 class="figure-heading constrain_width"
                    aria-describedby="tip-avg-cost-year" tabindex="0">
                    Average Annual Cost
                    <span class="tooltip-target">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </h2>
                <div class="compare-container_group">

                    <div class="average_line" data-meter="average_cost_meter">
                        <span class="label"></span>
                    </div>
                    <div class="section-card_container-compare average-cost">

                        <div class="selected-school_average-cost_group">

                            <div class="selected-school_average-cost net_price" data-bind="school_section">

                                <div class="meter-wrapper">
                                    <figure class="side-meter">
                                        <picc-side-meter {% include net_price_meter_attributes.html %}>
                                        </picc-side-meter>
                                        <figcaption>
                                            <span data-bind="name">School Name</span>
                                            <span data-bind="average_cost" class="sr-only"></span>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="legend-wrapper">
                        <div class="legend-nat_average">
                            <div class="legend-nat_average-box">
                                <div class="legend-nat_average-box-line-vert">
                                </div>
                            </div>
                            <div class="legend-nat_average-words">National Average</div>
                        </div>
                    </div>

                </div>

                <h2 class="figure-heading constrain_width"
                    aria-describedby="tip-graduation-rate" tabindex="0">
                    Graduation Rate
                    <span class="tooltip-target">
                      <i class="fa fa-info-circle"></i>
                    </span>
                </h2>
                <div class="compare-container_group">

                    <div class="average_line" data-meter="grad_rate_meter">
                        <span class="label"></span>
                    </div>
                    <div class="section-card_container-compare grad-rate">

                        <div class="selected-school_grad-rate_group">

                            <div class="selected-school_grad-rate grad-rate" data-bind="school_section">

                                <div class="meter-wrapper">
                                    <figure class="side-meter">
                                        <picc-side-meter {% include graduation_meter_attributes.html %}>
                                        </picc-side-meter>
                                        <figcaption>
                                            <span data-bind="name">School Name</span>
                                            <span data-bind="grad_rate" class="sr-only"></span>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="legend-wrapper">
                        <div class="legend-nat_average">
                            <div class="legend-nat_average-box">
                                <div class="legend-nat_average-box-line-vert">
                                </div>
                            </div>
                            <div class="legend-nat_average-words">National Average</div>
                        </div>
                    </div>

                </div>

                <h2 class="figure-heading constrain_width"
                    aria-describedby="tip-avg-salary" tabindex="0">
                    Salary After Attending
                    <span class="tooltip-target">
                        <i class="fa fa-info-circle"></i>
                    </span>
                </h2>
                <div class="compare-container_group">

                    <div class="average_line" data-meter="average_salary_meter">
                        <span class="label"></span>
                    </div>
                    <div class="section-card_container-compare average-salary">

                        <div class="selected-school_average-salary_group">

                            <div class="selected-school_average-salary average-salary" data-bind="school_section">

                                <div class="meter-wrapper">
                                    <figure class="side-meter">
                                        <picc-side-meter {% include earnings_meter_attributes.html %}>
                                        </picc-side-meter>
                                        <figcaption>
                                            <span data-bind="name">School Name</span>
                                            <span data-bind="average_salary" class="sr-only"></span>
                                        </figcaption>
                                    </figure>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="legend-wrapper">
                        <div class="legend-nat_average">
                            <div class="legend-nat_average-box">
                                <div class="legend-nat_average-box-line-vert">
                                </div>
                            </div>
                            <div class="legend-nat_average-words">National Average</div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="compare-more show-loaded">

                <div class="section-card_container-compare_more">

                    <aria-accordion id="school">

                        <div>

                            <h1 class="search_category">
                                <button aria-expanded="false" aria-controls="school-content">
                                    College Information
                                </button>
                            </h1>

                            <div id="school-content">

                                <div class="summary u-wrap">
                                    <h2 class="figure-heading constrain_width"
                                        aria-describedby="tip-full-time" tabindex="0">
                                        Full-time Enrollment
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>

                                    <div class="section-card_container-compare school-summary">
                                        <div>
                                            <div class="school-two_col" data-bind="school_section">
                                                <div class="compare-two_col-left">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter
                                                                class="demographics"
                                                                data-bind="full_time_value"
                                                                max="1">
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="full_time_percent" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>

                                                <div class="compare-two_col-right">

                                                    <div class="school-student-stats-col">

                                                        <div class="school-student-stats-col-align school-summary">
                                                            <div class="school-size">
                                                                <span class="fact_number">
                                                                    <span data-bind="size_number"></span>
                                                                </span>
                                                                <strong class="label">Undergraduates</strong>
                                                            </div>

                                                            <div class="school-section school-headings">
                                                                <ul class="school-key_figures key-figures">
                                                                    <li data-bind="years">
                                                                        <span data-bind="number" class="school-key_figures-year">X</span>
                                                                        <span class="label"></span>
                                                                    </li>
                                                                    <li data-bind="control">
                                                                        <span data-bind="value" class="label" >X</span>
                                                                    </li>
                                                                    <li data-bind="locale_name">
                                                                        <span data-bind="value" class="label" >X</span>
                                                                    </li>
                                                                    <li data-bind="size_category">
                                                                        <span data-bind="value" class="label" >X</span>
                                                                    </li>
                                                                </ul>
                                                            </div>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                </div><!-- /.summary.u-wrap -->

                                <div class="socio-economic u-wrap">

                                    <h2 class="figure-heading constrain_width"
                                        aria-describedby="tip-socio-eco" tabindex="0">
                                        Socio-Economic Diversity
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>

                                    <div class="school-two_col" data-bind="school_section">
                                        <div class="compare-two_col-left">
                                            <p>Percent of student with a family income less than $40k and receive an income-based federal Pell Grant to help pay for college.</p>
                                        </div>
                                        <div class="compare-two_col-right">
                                            <div class="section-card_container-compare school-diversity">
                                                <div>
                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter
                                                                    class="socio-economic"
                                                                    data-bind="pell_grant_meter"
                                                                    max="1">
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="pell_grant_meter" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- /.socio-economic.u-wrap -->

                            </div>
                        </div>

                    </aria-accordion>
                </div>

                <div class="section-card_container-compare_more">

                    <aria-accordion id="cost">

                        <div>

                            <h1 class="search_category">
                                <button aria-expanded="false" aria-controls="cost-content">
                                    Costs
                                </button>
                            </h1>

                            <div id="cost-content" aria-hidden="true">

                                <div>
                                    <h2 class="figure-heading constrain_width"
                                        aria-describedby="tip-avg-cost-year" tabindex="0">
                                        Average Annual Cost
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>
                                    <div class="compare-container_group">

                                        <div class="average_line" data-meter="average_cost_meter">
                                            <span class="label"></span>
                                        </div>
                                        <div class="section-card_container-compare average-cost">

                                            <div class="selected-school_average-cost_group">

                                                <div class="selected-school_average-cost net_price" data-bind="school_section">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter {% include net_price_meter_attributes.html %}>
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="average_cost" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="legend-wrapper">
                                            <div class="legend-nat_average">
                                                <div class="legend-nat_average-box">
                                                    <div class="legend-nat_average-box-line-vert">
                                                    </div>
                                                </div>
                                                <div class="legend-nat_average-words">National Average</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </aria-accordion>
                </div>

                <div class="section-card_container-compare_more">
                    <aria-accordion id="finaid">
                        <div>
                            <h1 class="search_category">
                                <button aria-expanded="false" aria-controls="finaid-content">
                                    Financial Aid &amp; Debt
                                </button>
                            </h1>

                            <div id="finaid-content" aria-hidden="true">

                                <div class="repayment">

                                    <h2 class="figure-heading" aria-describedby="tip-repayment-rate" tabindex="0">
                                        Students Paying <span>Down Their Debt</span>
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>
                                    <div class="compare-container_group">

                                        <div class="average_line" data-meter="repayment_rate_meter">
                                            <span class="label"></span>
                                        </div>

                                        <div class="section-card_container-compare repayment-rate">

                                            <div class="selected-school_repayment-rate_group">

                                                <div class="selected-school_repayment-rate repayment-rate" data-bind="school_section">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter
                                                                class="debt"
                                                                data-bind="repayment_rate_meter"
                                                                max="1"
                                                                average="{{ site.data.national_stats.repayment_rate.median }}"
                                                                average-range="{{ site.data.national_stats.repayment_rate.average_range|join:'..' }}"
                                                                data-median-four_year="{{ site.data.national_stats.repayment_rate_4.median }}"
                                                                data-median-lt_four_year="{{ site.data.national_stats.repayment_rate_l4.median }}">
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="repayment_rate_percent" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="legend-wrapper">
                                            <div class="legend-nat_average">
                                                <div class="legend-nat_average-box">
                                                    <div class="legend-nat_average-box-line-vert">
                                                    </div>
                                                </div>
                                                <div class="legend-nat_average-words">National Average</div>
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- /.repayment -->

                                <div class="debt">
                                    <h2 class="figure-heading" aria-describedby="tip-avg-debt" tabindex="0">
                                        Total Typical Debt
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>

                                    <div class="section-card_container-compare avg-debt">
                                        <div>
                                            <div class="meter-wrapper">
                                                <figure class="side-meter">
                                                    <picc-side-meter
                                                        class="debt"
                                                        data-bind="average_total_debt_meter">
                                                    </picc-side-meter>
                                                    <figcaption>
                                                        <span data-bind="name">School Name</span>
                                                        <span data-bind="average_total_debt_meter" class="sr-only"></span>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>

                                </div><!-- /.debt -->

                            </div>
                        </div>
                    </aria-accordion>
                </div>

                <div class="section-card_container-compare_more">
                    <aria-accordion id="graduation">
                        <div>
                            <h1 class="search_category">
                                <button aria-expanded="false" aria-controls="graduation-content">
                                    Graduation &amp; Retention
                                </button>
                            </h1>

                            <div id="graduation-content" aria-hidden="true">
                                <div>
                                    <h2 class="figure-heading constrain_width"
                                        aria-describedby="tip-graduation-rate" tabindex="0">
                                        Graduation Rate
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>
                                    <div class="compare-container_group">

                                        <div class="average_line" data-meter="grad_rate_meter">
                                            <span class="label"></span>
                                        </div>
                                        <div class="section-card_container-compare grad-rate">

                                            <div class="selected-school_grad-rate_group">

                                                <div class="selected-school_grad-rate grad-rate" data-bind="school_section">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter {% include graduation_meter_attributes.html %}>
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="grad_rate" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="legend-wrapper">
                                            <div class="legend-nat_average">
                                                <div class="legend-nat_average-box">
                                                    <div class="legend-nat_average-box-line-vert">
                                                    </div>
                                                </div>
                                                <div class="legend-nat_average-words">National Average</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div>
                                    <h2 class="figure-heading" aria-describedby="tip-retention-rate" tabindex="0">
                                        Students Who Return <span>After Their First Year</span>
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>

                                    <div class="compare-container_group">

                                        <div class="average_line" data-meter="retention_rate_meter">
                                            <span class="label"></span>
                                        </div>
                                        <div class="section-card_container-compare rentention-rate">

                                            <div class="selected-school_retention-rate_group">

                                                <div class="selected-school_retention-rate rentention-rate" data-bind="school_section">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter
                                                                class="graduation"
                                                                data-bind="retention_rate_meter"
                                                                max="1"
                                                                average="{{ site.data.national_stats.retention_rate.median }}"
                                                                average-range="{{ site.data.national_stats.retention_rate.average_range|join:'..' }}">
                                                            </picc-side-meter>

                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="retention_rate_value" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="legend-wrapper">
                                            <div class="legend-nat_average">
                                                <div class="legend-nat_average-box">
                                                    <div class="legend-nat_average-box-line-vert">
                                                    </div>
                                                </div>
                                                <div class="legend-nat_average-words">National Average</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </aria-accordion>
                </div>

                <div class="section-card_container-compare_more">
                    <aria-accordion id="earnings">
                        <div>
                            <h1 class="search_category">
                                <button aria-expanded="false" aria-controls="earnings-content">
                                    Earnings After School
                                </button>
                            </h1>

                            <div id="earnings-content" aria-hidden="true">

                                <div>
                                    <h2 class="figure-heading constrain_width"
                                        aria-describedby="tip-avg-salary" tabindex="0">
                                        Salary After Attending
                                        <span class="tooltip-target">
                                            <i class="fa fa-info-circle"></i>
                                        </span>
                                    </h2>
                                    <div class="compare-container_group">

                                        <div class="average_line" data-meter="average_salary_meter">
                                            <span class="label"></span>
                                        </div>
                                        <div class="section-card_container-compare average-salary">

                                            <div class="selected-school_average-salary_group">

                                                <div class="selected-school_average-salary average-salary" data-bind="school_section">

                                                    <div class="meter-wrapper">
                                                        <figure class="side-meter">
                                                            <picc-side-meter {% include earnings_meter_attributes.html %}>
                                                            </picc-side-meter>
                                                            <figcaption>
                                                                <span data-bind="name">School Name</span>
                                                                <span data-bind="average_salary" class="sr-only"></span>
                                                            </figcaption>
                                                        </figure>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="legend-wrapper">
                                            <div class="legend-nat_average">
                                                <div class="legend-nat_average-box">
                                                    <div class="legend-nat_average-box-line-vert">
                                                    </div>
                                                </div>
                                                <div class="legend-nat_average-words">National Average</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </aria-accordion>
                </div>
            </div>
        </div>
    </section>

</div>

<script>
  picc.pages.compare();
</script>
